﻿@model e_Restaurant.Models.ActivateUserModel
@using e_Restaurant.Common
@{
    ViewBag.Title = COM.GetTranslation("LBL_PT_ACCOUNTACTIVATED");
}
@*<script type="text/javascript">
    $(document).ready(function () {
        window.setInterval(function () {
            var timeLeft = $("#timeLeft").html();
            if (eval(timeLeft) == 0) {
                window.location = @Url.Action("Logon","Account");
            } else {
                $("#timeLeft").html(eval(timeLeft) - eval(1));
            }
        }, 1000);
    });
</script>
<h4>You will be redirect to Log on page after <span id="timeLeft">5</span> seconds
</h4>*@
<style>
    div.col-lg-4 {
        text-align: center;
    }
</style>
<div style="padding: 15px;">

    <div class="row" style="text-align: center;">
        <span style="font-size: 26px;">Welcome to <span style="color: #992222;">E-RestaurantNFC</span>! You are on!</span>
    </div>

    <div class="row">        
        <div class="col-lg-4">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Images/ConfPage_search.png")"  alt="">
                <p>Look for restaurant you want</p>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="@Url.Action("Profile", "Account")">
                <img src="@Url.Content("~/Images/ConfPage_usersProfile.png")"  alt="">
                <p>
                    Complete your profile to get full advantage of
                <br />
                    E-RestaurantNFC
                </p>
            </a>

        </div>
        <div class="col-lg-4">

            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Images/ConfPage_read.png")"  alt="">
                <p>Read our articles to know something new</p>
            </a>
        </div>

    </div>
</div>
@if (Model.Guid != null)
{
    <div class="display-label">
        Dear <strong>@Html.DisplayFor(model => model.FirstName)</strong> activation was successful.
    <br />
        @if (Model.IsEmail)
        {
            <span>@COM.GetTranslation("LABEL_EMAIL_SUCCESS_CHANGED")</span>
        }
    </div>
}
else
{
    <span style="color: red">Wrong link!</span>
}