﻿@model e_Restaurant.Models.ChangeEmailModel
@using e_Restaurant.Common
<script type="text/javascript">

    $(function () {
        $("#changeEmail.button").click(function () {
            $(this).button('loading');
        });
    });

    function OnSuccessChangeEmail(data, status, xhr) {
        var resultSpan = $('#resultChangeEmail');
        resultSpan.removeClass();
        resultSpan.html(data);
        resultSpan.fadeIn(500);
        $('#Email.change').val('');
        $("#changeEmail.button").button('reset').val('@COM.GetTranslation("LABEL_CHANGE_EMAIL")');
        setTimeout(function () {
            $('#changeEmail').modal('hide');
            resultSpan.hide()
        }, 4000);
    }

    function OnFailureChangeEmail(xhr, status, error) {
        var resultSpan = $('#resultChangeEmail');
        resultSpan.removeClass();
        resultSpan.html('@COM.GetTranslation("COMMON_error")');
        resultSpan.addClass('alert alert-danger');
        resultSpan.fadeIn(500);
        $('#Email.change').val('');
    }
</script>
@using (Ajax.BeginForm("ChangeEmail", "Account",
    new AjaxOptions
    {
        OnSuccess = "OnSuccessChangeEmail(data, status, xhr)",
        OnFailure = "OnFailureChangeEmail(xhr, status, error)"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label class="col-sm-4 control-label">@COM.GetTranslation("LABEL_CURRENT_EMAIL")</label>
        <div class="col-sm-7">
            @Html.DisplayTextFor(model => model.OldEmail)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">@COM.GetTranslation("LABEL_NEW_EMAIL")</label>
        <div class="col-sm-7">
            @Html.TextBoxFor(model => model.Email, new { @class = "change" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div style="display: none">
            @Html.EditorFor(model => model.FirstName)
            @Html.EditorFor(model => model.Guid)
        </div>
    </div>    
    
    <p style="text-align: center">
        <input type="submit" value="@COM.GetTranslation("LABEL_CHANGE_EMAIL")" class="button" id="changeEmail" style="width:270px"/>
    </p>
    <div id="resultChangeEmail" style="display: none"></div>  
}