﻿@model e_Restaurant.Models.ChangePasswordModel
@using e_Restaurant.Common
<script type="text/javascript">

    $(function () {
        $("#chahgePassword.button").click(function () {
            $(this).button('loading');
        });
    });

    function resetValues() {
        $('#CurrentPassword').val('');
        $('#NewPassword').val('');
        $('#ConfirmNewPasword').val('');
    }

    function OnSuccessChangePassword(data, status, xhr) {
        var resultSpan = $('#resultChangePassword');
        resultSpan.removeClass();
        resultSpan.html(data);
        resultSpan.fadeIn(1000);
        $("#chahgePassword.button").button('reset').val('@COM.GetTranslation("LABEL_CHANGE_PASSWORD")');
        if (data.indexOf('alert-danger') < 1)
            setTimeout(function () {
                $('#changePassword').modal('hide');
                resultSpan.hide()
            }, 2000);
        resetValues();
    }

    function OnFailureChangePassword(xhr, status, error) {
        var resultSpan = $('#resultChangePassword');
        resultSpan.removeClass();
        resultSpan.html('@COM.GetTranslation("COMMON_error") ');
        resultSpan.addClass('alert alert-danger');
        resultSpan.fadeIn(1000);
        resetValues();
    }
</script>
@using (Ajax.BeginForm("ChangePassword", "Account",
    new AjaxOptions
    {
        OnSuccess = "OnSuccessChangePassword(data, status, xhr)",
        OnFailure = "OnFailureChangePassword(xhr, status, error)"
    }
    , new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label class="col-sm-4 control-label">@COM.GetTranslation("LABEL_CURRENTPASSWORD")</label>
        <div class="col-sm-7">
            @Html.EditorFor(model => model.CurrentPassword)
            @Html.ValidationMessageFor(model => model.CurrentPassword)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">@COM.GetTranslation("LABEL_NEWPASSWORD")</label>
        <div class="col-sm-7">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">@COM.GetTranslation("LABEL_CONFIRM_NEWPASSWORD")</label>
        <div class="col-sm-7">
            @Html.EditorFor(model => model.ConfirmNewPasword)
            @Html.ValidationMessageFor(model => model.ConfirmNewPasword)
        </div>
    </div>    
    <p style="text-align: center">
        <input type="submit" value="@COM.GetTranslation("LABEL_CHANGE_PASSWORD")" class="button" style="width:160px;" id="chahgePassword"/>
    </p>
    <div id="resultChangePassword" style="display: none">Done!</div>
}