﻿@model e_Restaurant.Models.DeleteAccountModel
@using e_Restaurant.Common

@using (Ajax.BeginForm("Delete", "Account",
    new AjaxOptions
    {
        OnSuccess = "OnSuccessDelete",
        OnFailure = "OnFailureDelete"
    }
    , new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-sm-4 control-label">@COM.GetTranslation("LABEL_CURRENTPASSWORD")</label>
        <div class="col-sm-7">
            @Html.EditorFor(model => model.CurrentPassword)
            @Html.ValidationMessageFor(model => model.CurrentPassword)
        </div>
    </div>

    <p style="text-align: center">
        <input type="submit" value="@COM.GetTranslation("LABEL_DELETE_ACCOUNT")" class="button"/>
    </p>
}
