﻿@model e_Restaurant.Models.ForgotPaswordModel
@using e_Restaurant.Common
@{
    ViewBag.Title = "Forgot password";
}

<style>
    #Email {
        width: 350px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#forgotPassword").click(function () {
            $(this).button('loading');
        });
    });

    function OnSuccessForgotPassword(data, status, xhr) {
        var resultSpan = $('#resultForgotPassword');
        resultSpan.html(data);
        resultSpan.fadeIn(1000);
        $("#forgotPassword").button('reset').val('@COM.GetTranslation("BTN_SEND")');
    }
    function OnFailureForgotPassword(xhr, status, error) {
        var d = xhr;
        $("#forgotPassword").button('reset').val('@COM.GetTranslation("BTN_SEND")');
    }
</script>
@using (Ajax.BeginForm("ForgotPassword", "Account",
            new AjaxOptions
            {
                OnSuccess = "OnSuccessForgotPassword(data, status, xhr)",
                OnFailure = "OnFailureForgotPassword(xhr, status, error)"
            }
            , new { @class = "form-inline" }))
{      
    <div class="mainpanel">
        <div class="title">
            <h3>@COM.GetTranslation("LINK_FOROT_PASSWORD")</h3>
        </div>
        <div class="content">
            <div>
                <label>@COM.GetTranslation("LABEL_ENTERT_EMAIL_SEND_EMAIL")</label>
            </div>
            <div class="form-group">
                <label>@COM.GetTranslation("COMMON_EMAIL_ADDRESS") </label>
                @Html.EditorFor(model => model.Email)
                <input type="submit"  value="@COM.GetTranslation("BTN_SEND")" class="button" data-loading-text="Loading..." id="forgotPassword"/>
            </div>

            <div style="height: 20px">@Html.ValidationMessageFor(model => model.Email)</div>
            <div>
                @Html.ValidationSummary(true)
            </div>
            <div id="resultForgotPassword" style="display: none">Done!</div>

        </div>
    </div>
}