﻿@model e_Restaurant.Models.LogOnModel
@using e_Restaurant.Common
@{
    ViewBag.Title = COM.GetTranslation("BTN_LOGIN");
    string retUrl = "";
    if (ViewContext.HttpContext.Request.UrlReferrer != null)
    {
        retUrl =
          ViewContext.HttpContext.Request.UrlReferrer.PathAndQuery;
    } 
}

@using (Html.BeginForm("LogOn", "Account", new { model = this.Model, returnUrl = retUrl }, FormMethod.Post, new { @class = "form-horizontal logOnOtstup" }))
{
    <div id="fb-root"></div>
    <div class="mainpanel">
        <div class="title">
            <h3>@COM.GetTranslation("BTN_LOGIN")</h3>
        </div>
        <div class="content">
            <div class="form-group">
                <label class="col-sm-4 control-label">@COM.GetTranslation("COMMON_EMAIL_ADDRESS")</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserEmail)
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 0 !important;">
                <div class="col-sm-4 control-label">
                    @Html.LabelFor(m => m.Password, new { @style = "margin-bottom: 0 !important;" })
                    <br />
                    @Html.ActionLink(COM.GetTranslation("LINK_FOROT_PASSWORD"), "ForgotPassword", "Account", null, new { @style = "font-size: 8pt;" })
                </div>

                <div class="col-sm-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-offset-4 col-sm-8">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-offset-4 col-sm-8">
                    <input type="submit" value='@COM.GetTranslation("BTN_LOGIN")' class="button" style="width: 100%" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <span>@COM.GetTranslation("LABEL_NOT_MEMBER") </span>
                    @Html.ActionLink(COM.GetTranslation("LABEL_CREATE_ACCOUNT"), "Register", "Account")
                </div>
            </div>
            <div>
                @Html.ValidationSummary(true)
            </div>
        </div>
    </div>
}
