﻿@model e_Restaurant.Models.MyPreferencesModel
@using e_Restaurant.Common
@using e_Restaurant.Models

@{
    ViewBag.Title = COM.GetTranslation("LABEL_MYPREFERENCES");
}

<script src="@Url.Content("~/Scripts/sticky.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $('form#formMyPreferences').find('input:checkbox').change(function () {
            $('form#formMyPreferences').trigger('submit');
        });

        $("#slider-range").slider({
            min: 0,
            max: 1000,
            values: [50, 400],
            range: true,
            stop: function (event, ui) {
                $("input#minCost").val($("#slider-range").slider("values", 0));
                $("input#maxCost").val($("#slider-range").slider("values", 1));

            },
            slide: function (event, ui) {
                $("input#minCost").val($("#slider-range").slider("values", 0));
                $("input#maxCost").val($("#slider-range").slider("values", 1));
            }
        });

        $("input#minCost").change(function () {
            var value1 = $("input#minCost").val();
            var value2 = $("input#maxCost").val();
            if (parseInt(value1) > parseInt(value2)) {
                value1 = value2;
                $("input#minCost").val(value1);
            }
            $("#slider-range").slider("values", 0, value1);
        });

        $("input#maxCost").change(function () {
            var value1 = $("input#minCost").val();
            var value2 = $("input#maxCost").val();
            if (value2 > 1000) { value2 = 1000; $("input#maxCost").val(1000) }

            if (parseInt(value1) > parseInt(value2)) {
                value2 = value1;
                $("input#maxCost").val(value2);
            }
            $("#slider-range").slider("values", 1, value2);
        });
    });

    function ClickChosenOption(item) {
        $('input#' + $(item).attr("data")).val($(item).attr("value"));
        $('input:checkbox').filter('#' + $(item).attr("id")).prop('checked', false);
        $('form#formMySelecedPreferences').trigger('submit');
    }

    function toggle_visibility(id) {
        var displayState = $('#' + id).css('display');
        if (displayState == 'none')
            $('#' + id).slideDown();
        else
            $('#' + id).slideUp();
        $('#chosenOption').stickyfloat({ duration: 300 });
    }

    function OnSuccessMyPreferences(data, status, xhr) {
        $('#preference_accordion-1').html(data);
    }

    function OnSuccessMySelectedPref(data, status, xhr) {
        $('#preference_accordion-1').html(data);
    }
</script>
<style>
    .preference_radio input[type="radio"] {
        display: none;
        color: white;
    }

        .preference_radio input[type="radio"] + label span {
            display: inline-block;
            width: 13px;
            height: 13px;
            margin: -3px 3px 0 5px;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .preference_radio input[type="radio"] + label span {
            background-color: #cbcbcb;
            box-shadow: inset 0px 2px 3px 0px rgba(65, 63, 63, .9), 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
        }

        .preference_radio input[type="radio"]:checked + label span {
            background-color: rgba(11, 47, 89, 1);
        }

        .preference_radio input[type="radio"] + label span,
        .preference_radio input[type="radio"]:checked + label span {
            -webkit-transition: background-color 0.2s linear;
            -o-transition: background-color 0.2s linear;
            -moz-transition: background-color 0.2s linear;
            transition: background-color 0.2s linear;
        }
</style>

<div class="graphite preference_container" id="chosenOption">
    <ul class="preference_accordion" id="preference_accordion-1">
        @Html.Partial("MySelectedPreferences", Model.SelectedPreferences)
    </ul>
    <div style="clear: both;"></div>
</div>

@using (Ajax.BeginForm("MyPreferences", "Account",
    new AjaxOptions
    {
        OnSuccess = "OnSuccessMyPreferences(data, status, xhr)",
        OnFailure = "OnFailureMyPreferences(xhr, status, error)",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "preference_accordion-1"
    }
    , new { @id = "formMyPreferences" }))
{
    @Html.ValidationSummary(true)

    <div class="graphite preference_container row" id="preferenceContainer">
        <ul class="preference_accordion" >

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('RestaurantType')">@COM.GetTranslation("LABEL_PREF_TYPE_REST")</a>
                    <ul>
                        <div id="RestaurantType" style="display: none" class="controls span2">
                            @Html.Partial("mypreferences/RestaurantType", Model.RestaurantType)
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('CuisineType')">@COM.GetTranslation("LABEL_PREF_TYPE_CUISINE")</a>
                    <ul>
                        <div id="CuisineType" style="display: none">
                            <div class="controls span2">
                                @Html.Partial("mypreferences/CuisineType", Model.CuisineType)
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('SERVICES')">@COM.GetTranslation("LABEL_PREF_TYPE_SERVICES")</a>
                    <ul>
                        <div id="SERVICES" style="display: none">
                            <div class="controls span2">
                                @Html.Partial("mypreferences/Services", Model.Services)
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('Entertainment')">@COM.GetTranslation("LABEL_PREF_TYPE_ENTERTAINMENT")</a>
                    <ul>
                        <div class="control-group" id="Entertainment" style="display: none">
                            <div class="controls span2">
                                @Html.Partial("mypreferences/Entertainment", Model.Entertainment)
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('Rooms')">@COM.GetTranslation("LABEL_PREF_TYPE_ROOMS")</a>
                    <ul>
                        <div class="control-group" id="Rooms" style="display: none">
                            <div class="controls span2">
                                @Html.Partial("mypreferences/Rooms", Model.Rooms)
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('specialOffers')">@COM.GetTranslation("LABEL_PREF_SPECIAL_OFFERS")</a>
                    <ul>
                        <div class="control-group" id="specialOffers" style="display: none">
                            <div class="controls span2">
                                @Html.Partial("mypreferences/SpecialOffers", Model.SpecialOffers)
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('SpecialFeatures')">@COM.GetTranslation("LABEL_PREF_SPECIAL_FEATURES")</a>
                    <ul>
                        <div class="control-group" id="SpecialFeatures" style="display: none">
                            <div class="controls span2">
                                @Html.Partial("mypreferences/SpecialFeature", Model.SpecialFeatures)
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('Events')">@COM.GetTranslation("LABEL_PREF_EVENTS")</a>
                    <ul>
                        <div class="control-group" id="Events" style="display: none">
                            <div class="controls span2">
                                @Html.Partial("mypreferences/Event", Model.Events)
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('Payments')">@COM.GetTranslation("LABEL_PREF_PAYMENTS")</a>
                    <ul>
                        <div class="control-group" id="Payments" style="display: none">
                            <div class="controls span2">
                                @Html.Partial("mypreferences/Payment", Model.Payments)
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('Averagecheck')">@COM.GetTranslation("LABEL_PREF_AVERAGECHECK")</a>
                    <ul>
                        <div class="control-group" id="Averagecheck" style="display: none; padding: 5px">
                            <div class="controls span2" style="padding: 10px;">
                                <table style="width: 100%">
                                    <tr>
                                        <td>from</td>
                                        <td style="padding: 0 5px">
                                            <input type="text" id="minCost" maxlength="3" style="width: 75px" />
                                        </td>
                                        <td>
                                            <span>to</span>
                                        </td>
                                        <td style="padding: 0 5px">
                                            <input type="text" id="maxCost" maxlength="4" style="width: 75px" />
                                        </td>
                                        <td></td>
                                        <td class="preference_radio">
                                            <input type="radio" id="usd" name="radio" />
                                            <label for="usd"><span></span>USD</label>
                                        </td>
                                        <td class="preference_radio">
                                            <input type="radio" id="eur" name="radio" />
                                            <label for="eur"><span></span>EUR</label>
                                        </td>
                                        <td class="preference_radio">
                                            <input type="radio" id="uah" name="radio" />
                                            <label for="uah"><span></span>UAH</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <div id="slider-range" />
                                        </td>
                                        <td>
                                            <a style="border: none; color: black; text-align: right; background-color: #f4f4f4; border-radius: 0 0 5px 5px;"><u>Apply</u></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

            <div class="preference_checkbox">
                <li>
                    <a onclick="toggle_visibility('WorkingHours')">@COM.GetTranslation("LABEL_PREF_WORKING_HOURS")</a>
                    <ul>
                        <div class="control-group" id="WorkingHours" style="display: none">
                            <div class="controls span2">
                                <table class="pref_table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>From:</label>
                                                <select id="BeginHours" name="BeginHours">
                                                    <option selected="">00:00 </option>
                                                    <option>01:00</option>
                                                    <option>02:00</option>
                                                    <option>03:00</option>
                                                    <option>04:00</option>
                                                    <option>05:00</option>
                                                    <option>06:00</option>
                                                    <option>07:00</option>
                                                    <option>08:00</option>
                                                    <option>09:00</option>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                    <option>12:00</option>
                                                    <option>13:00</option>
                                                    <option>14:00</option>
                                                    <option>15:00</option>
                                                    <option>16:00</option>
                                                    <option>17:00</option>
                                                    <option>18:00</option>
                                                    <option>19:00</option>
                                                    <option>20:00</option>
                                                    <option>21:00</option>
                                                    <option>22:00</option>
                                                    <option>23:00</option>
                                                </select>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <label>To:</label>
                                                <select id="EndHours" name="EndHours">
                                                    <option selected="">00:00 </option>
                                                    <option>01:00</option>
                                                    <option>02:00</option>
                                                    <option>03:00</option>
                                                    <option>04:00</option>
                                                    <option>05:00</option>
                                                    <option>06:00</option>
                                                    <option>07:00</option>
                                                    <option>08:00</option>
                                                    <option>09:00</option>
                                                    <option>10:00</option>
                                                    <option>11:00</option>
                                                    <option>12:00</option>
                                                    <option>13:00</option>
                                                    <option>14:00</option>
                                                    <option>15:00</option>
                                                    <option>16:00</option>
                                                    <option>17:00</option>
                                                    <option>18:00</option>
                                                    <option>19:00</option>
                                                    <option>20:00</option>
                                                    <option>21:00</option>
                                                    <option>22:00</option>
                                                    <option>23:00</option>
                                                </select>
                                            </td>
                                            <td valign="bottom" style="text-align: right;">
                                                <a style="font-size: 14px; color: black; background-color: #f4f4f4;"><u>Apply</u></a></td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ul>
                </li>
            </div>

        </ul>
    </div>    
    <div style="clear: both;"></div>    
}