﻿@model e_Restaurant.Models.MyPreferencesSelectedModel
@using e_Restaurant.Common

<script type="text/javascript">
    function OnSuccessMySelectedPref(data, status, xhr) {
        $('form#formMySelecedPreferences').html(data);
    }

    function OnFailureMySelectedPref(xhr, status, error) {
        $('#error').delay(500).fadeIn(1000).delay(500).fadeOut(1000);
    }
</script>

@using (Ajax.BeginForm("MySelectedPreferences", "Account",
    new AjaxOptions
    {
        OnSuccess = "OnSuccessMySelectedPref(data, status, xhr)",
        OnFailure = "OnFailureMySelectedPref(xhr, status, error)"

    },
    new { @id = "formMySelecedPreferences" }))
{
    <li>
        <a href="#" id="pref_chosen_opt">@COM.GetTranslation("LABEL_CHOSEN_OPTIONS")</a>
    </li>
    foreach (var item in Model.SelectedPreferences)
    {
    <li data="@item.TypePreferences" class="chossenoption" value="@item.ID" id="@string.Format(item.TargetPreferences + "{0}", item.ID)" 
         onclick="ClickChosenOption(this)">
        <a>
            <img src="../images/crs-out2.png" alt="" id="cross_out">@item.Name
        </a>
    </li>
    }
    <input type="hidden" name="RestaurantTypeSelected" id="RestaurantTypeSelected" />
    <input type="hidden" name="CuisineTypeSelected" id="CuisineTypeSelected" />  
    <input type="hidden" name="ServicesSelected" id="ServicesSelected" />        
    <input type="hidden" name="EntertainmentSelected" id="EntertainmentSelected" />  
    <input type="hidden" name="RoomsSelected" id="RoomsSelected" />  
    <input type="hidden" name="SpecialFeaturesSelected" id="SpecialFeaturesSelected" /> 
    <input type="hidden" name="SpecialOffersSelected" id="SpecialOffersSelected" />       
    <input type="hidden" name="EventsSelected" id="EventsSelected" />       
    <input type="hidden" name="PaymentSelected" id="PaymentSelected" />    
    
    
    
    <li data="IsCleanAll" id="CleanAll1" value="1" onclick="ClickChosenOption(this)">
        <a id="clean_filter" name="IsCleanAll"><u>Clean All</u></a>
    </li>    
    <input type="hidden" name="IsCleanAll" id="IsCleanAll" />    
    <div id="error" style="position: fixed; top: 0; left: 0; z-index: 999; display: none" class="alert alert-danger">
        Error
    </div>
}