﻿@model e_Restaurant.Models.ProfileModel
@using e_Restaurant.Common
@{
    ViewBag.Title = COM.GetTranslation("LABEL_PROFILE");
}

<script type="text/javascript">
    $(function () {
        $("#BirthDay").datepicker(
        {
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
        });
        $("#BirthDay").attr('readOnly', 'true');
        
        $("#FirstName, #LastName").keypress(function (e) {
            var symbol = (e.which) ? e.which : e.keyCode;
            if (symbol >= 48 && symbol <= 57) return false;
        });
    });
</script>
<style>
    .form-group-prof {
        float: left;
        width: 50%;
    }

    .content {
        height: 160px;
    }

    .form-group-prof input[type="text"], .form-group-prof input[type="datetime"] {
        width: 90%;
    }
</style>
@using (Html.BeginForm("Profile", "Account", FormMethod.Post))
{
    
    <div class="mainpanel">
        <div class="modal-header">
            <h3>@COM.GetTranslation("LABEL_PERSONAL_INFORMATION")</h3>
        </div>

        <div class="content">
            <div class="form-group-prof">
                <label>@COM.GetTranslation("COMMON_FIRST_NAME")</label>
                <div>
                    @Html.EditorFor(model => model.FirstName, new {@class = "onlyletters"})
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group-prof">
                <label>@COM.GetTranslation("COMMON_LAST_NAME")</label>
                <div>
                    @Html.EditorFor(model => model.LastName, new {@class = "onlyletters"})
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group-prof">
                <label>@COM.GetTranslation("LABEL_BIRTHDAY")</label>
                <div>
                    @Html.EditorFor(model => model.BirthDay)
                    @Html.ValidationMessageFor(model => model.BirthDay)
                </div>
            </div>
            <div class="form-group-prof">
                <label>@COM.GetTranslation("LABEL_SEX")</label>
                <div>
                    @Html.DropDownListFor(model => model.Sex, Model.SexList, "----------", new { @style = "width:90%" })
                    @Html.ValidationMessageFor(model => model.Sex)
                </div>
            </div>
        </div>
    </div>
<br />
<div class="mainpanel">
    <div class="modal-header">
        <h3>@COM.GetTranslation("LABEL_Contact_information")</h3>
    </div>
    <div class="content">
        <div class="form-group-prof">
            @Html.LabelFor(m => m.Country)
                <div>
                    @Html.DropDownListFor(m => m.Country, Model.CountryList, "----------", new { @style = "width:90%" })
                    @Html.ValidationMessageFor(model => model.Country)
                </div>
        </div>
        <div class="form-group-prof">
            @Html.LabelFor(m => m.CityID)
                <div>
                  @*  @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)*@

                    @Html.DropDownListFor(m => m.CityID, Model.CityList, "----------", new { @style = "width:90%" })
                    @Html.ValidationMessageFor(model => model.CityID)
                </div>
        </div>

        <div style="margin: 0 auto;">
            @Html.LabelFor(m => m.PhoneNumber)
                <div>
                    @Html.DropDownListFor(m => m.PhoneCode, Model.ListPhoneCode, "----------", new { @style = "width:100px" })
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
        </div>
    </div>
</div>
<br />
<div class="mainpanel">
    <div class="modal-header">
        <h3>@COM.GetTranslation("LABEL_SETTINGS")</h3>
    </div>
    <div class="content">
        <div class="form-group-prof">
            @Html.LabelFor(m => m.Email)
                <div>
                    @Html.TextBoxFor(model => model.Email, new { disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            <br />
            <button type="button" class="button" data-toggle="modal" style="width: 90%"
                data-target="#changeEmail.bs-example-modal-sm">
                @COM.GetTranslation("LABEL_CHANGE_EMAIL")</button>
        </div>
        <div class="form-group-prof">
            <label>@COM.GetTranslation("COMMON_PASSWORD") </label>
            <div>
                <input disabled="" class="text-box single-line" id="Password" type="text" value="******">
            </div>
            <br />
            <button type="button" class="button" data-toggle="modal" style="width: 90%"
                data-target="#changePassword.bs-example-modal-sm">
                @COM.GetTranslation("LABEL_CHANGE_PASSWORD")</button>
        </div>

    </div>
</div>

<br />
<div class="mainpanel">
    <div class="modal-header">
        <h3>@COM.GetTranslation("LABEL_Subscription")</h3>
    </div>
    <div class="content">
        @Html.CheckBoxFor(model => model.SubscribeOffers)
            <span>@COM.GetTranslation("LABEL_Subscrib_NewOffers")</span>
        <br>
        @Html.CheckBoxFor(model => model.SubscribeBestDeals)
            <span>@COM.GetTranslation("LABEL_Subscrib_BestDeals")</span>
        <br>
        @Html.CheckBoxFor(model => model.SubscribeNews)
            <span>@COM.GetTranslation("LABEL_Subscrib_News")</span>
    </div>
</div>

<div style="text-align: center; display: none">

    <button type="button" class="btn btn-default" data-toggle="modal"
        data-target="#deleteAccount.bs-example-modal-sm">
        @COM.GetTranslation("LABEL_DELETE_ACCOUNT")</button>
</div>
<div style="text-align: center">
    <br />
    <input type="submit" value='@COM.GetTranslation("BTN_SAVE")' style="width: 150px" class="button" />
</div>
@Html.ValidationSummary(true)   
}

<div id="changePassword" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3>@COM.GetTranslation("LABEL_CHANGE_PASSWORD")</h3>
            </div>
            <div class="modal-body">
                @Html.Partial("ChangePassword", Model.ChangePassword)
            </div>
        </div>

    </div>
</div>

<div id="changeEmail" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3>@COM.GetTranslation("LABEL_CHANGE_EMAIL")</h3>
            </div>
            <div class="modal-body">
                @Html.Partial("ChangeEmail", Model.ChangeEmail)
            </div>
        </div>

    </div>
</div>

<div id="deleteAccount" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3>@COM.GetTranslation("LABEL_DELETE_ACCOUNT")</h3>
            </div>
            <div class="modal-body">
                @Html.Partial("Delete", Model.DeleteAccount)
            </div>
        </div>

    </div>
</div>
