﻿@using e_Restaurant.Common
@{
    ViewBag.Title = COM.GetTranslation("LBL_PT_REGISTERSUCCESSFUL");
}
<div style="padding: 20px">
    <h2>@COM.GetTranslation("LABEL_THANKS_JOINING")</h2>
    @COM.GetTranslation("LABEL_VERIFY_EMAIL")
</div>
