﻿@model e_Restaurant.Models.RegisterModel
@using e_Restaurant.Common
@{
    ViewBag.Title = COM.GetTranslation("LABEL_CREATE_NEWACCOUNT"); 
}

<script>
    $().ready(function () {
        //$('#City').append("<option value='0'>----------</option>");
        $('.checkbox').after("<span id=\"error_msg\" style=\"color: red; font-size: 12px;\"> Для завершения регистрации, согласитесь с правилами пользователя</span>");
        $('input#IsAgreeWithTerms').change(function () {
            var isChecked = $(this).is(':checked');
            if (isChecked) {
                $('#btnRegister1').removeAttr("disabled");
                $('#error_msg').css('display', 'none')
            }
            else {                
                $('#btnRegister1').attr("disabled", "disabled");
                $('#error_msg').css('display', 'block')
            }
        });

        $("#FirstName, #LastName").keypress(function (e) {
            var symbol = (e.which) ? e.which : e.keyCode;
            if (symbol >= 48 && symbol <= 57) return false;
        });

        $('#Country').change(function () {
            var countryItem = $(this).val();
            var url = '@Url.Action("GetCountryList", "Account")' + "/" + countryItem;
            $.get(url, function (result) {
                var cmbCity = $('#CityID');
                cmbCity.empty();
                cmbCity.append("<option value='0'>----------</option>");
                $(result).each(function () {
                    $(document.createElement('option'))
                        .attr('value', this.Value)
                        .text(this.Text)
                        .appendTo(cmbCity);
                });
            });
        });
    });

    function OnSuccessRegister(data, status, xhr) {
        $('#register').hide();
        $('h3#header').text('Congratulations');
        $('div#successRegister').show();
    };
    function OnFailureRegister(xhr, status, error) {
        alert('Error. Try again.')
    };
</script>

<style>
    .col-sm-8 input, .col-sm-8 select {
        width: 90%;
    }
</style>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <div class="mainpanel">
        <div class="title">
            <h3>@COM.GetTranslation("LABEL_CREATE_NEWACCOUNT")</h3>
        </div>
        <div class="content">

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-sm-4 control-label" })

                <div class="col-sm-8">
                    @Html.EditorFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Country, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.Country, Model.CountryList, "----------")
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CityID, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.CityID, Model.CityList, "----------")
                    @Html.ValidationMessageFor(m => m.CityID)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-9">
                    <div class="checkbox">
                        <input id="IsAgreeWithTerms" name="IsAgreeWithTerms" type="checkbox">
                        @Html.ActionLink(@COM.GetTranslation("LINK_USER_AGREEMENT"), "Terms", null, new { target = "_blank" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-8">
                    <input type="submit" id="btnRegister1" value='@COM.GetTranslation("BTN_REGISTER")' class="button" style="width: 300px"  disabled />
                </div>
            </div>
        </div>
    </div>
}