﻿@{
    ViewBag.Title = "Terms";
}

<div style="text-align: center; padding: 10px 0px;">
    <img src="@Url.Content("~/Images/NFC logo transparent.png")" width="100px" height="100px" alt="" />
</div>

<div style="text-align: justify; padding: 20px; text-indent: 20px;">
    ПЕРЕД ТЕМ КАК ВОСПОЛЬЗОВАТЬСЯ ВСЕМИ ФУНКЦИЯМИ И ВОЗМОЖНОСТЯМИ ЭТОГО РЕСУРСА, РЕКОМЕНДУЕМ ВНИМАТЕЛЬНО ОЗНАКОМИТЬСЯ С НАСТОЯЩИМ СОГЛАШЕНИЕМ. РЕГИСТРИРУЯСЬ НА e-restaurantnfc.com, ВЬІ ПОДТВЕРЖДАЕТЕ, ЧТО ПРИНИМАЕТЕ ВСЕ ПРАВИЛА, ОПИСАННЫЕ В ПОЛЬЗОВАТЕЛЬСКОМ СОГЛАШЕНИИ, И ОБЯЗУЕТЕСЬ ИХ СОБЛЮДАТЬ.
    <br>
    <br>
    <p><i>1.Основные термины</i> </p>
    <p><strong>Сайт</strong> – международный интернет-ресурс, размещенный в сети Интеренет по адресу www.e-restauantnfc.com.</p>
    <p><strong>Пользователи сайта</strong> – все пользователи сети Интернет, которые посещают и используют функции сайта E-RestaurantNFC.</p>
    <p><strong>Администрация Сайта</strong> – сотрудники E-RestaurantNFC, уполномоченные общаться с Пользователями Сайта, вносить изменения в структуру Сайта и ответственные за размещение информации на E-RestaurantNFC.</p>
    <p><strong>Пользовательское соглашение</strong> – это текст настоящего Соглашения между Администрацией Сайта и Пользователем, которое содержит необходимые и существенные условия предоставления доступа на Сайт, условия использования Пользователем Сайта, возможности и условия получения Пользователем основных сервисов и услуг Сайта, иные отношения Сторон, связанные с использованием Сайта.</p>
    <p><strong>Каталог компаний</strong> – интернет-каталог на Сайте, содержащий информацию о компаниях и объектах инфраструктуры Франции, Испании, Швейцарии, Украины, Бельгии, Вьетнами, ОАЭ, Буркина Фасо, структурированный по категориям и подкатегориям.</p>
    <p><strong>Детальная страница компании</strong> – отдельная страница Сайта, которая содержит информацию о компании или объекте инфраструктуры и может включать в себя максимально полную информацию – название компании (объекта), адрес (местоположение на карте), контактные телефоны, email-адрес, адрес сайта компании, описание и виды деятельности, фотографии и видеоматериалы, информацию об услугах и товарах и т.п.</p>
    <p><strong>Карта</strong> – подробная интерактивная карта соответствующей страны с отметками о местонахождении компаний и объектов инфраструктуры. Данные для карты предоставляются по API Google-Карты.</p>
    <p><strong>Личный кабинет пользователя</strong> – несколько персональных страниц на Сайте, объединенных в программный модуль, который выделяется каждому зарегистрированному Пользователю и позволяющий использовать все функции Сайта: оставлять отзывы о компаниях и объектах инфраструктуры, бронировать столик в любом ресторане из Каталога Сайта, участвовать в акциях и розыгрышах, которые проводятся Администрацией и спонсорами Сайта, а также общаться напрямую с Администрацией Сайта.</p>
    <p><strong>Владелец</strong> – официальный представитель компании или объекта инфраструктуры, который прошел процедуру авторизации и регистрации на Сайте.</p>
    <p><strong>Личный кабинет Владельца</strong> – несколько персональных страниц, объединенных в программный модуль, которые выделяются каждому владельцу или представителю бизнеса после размещения информации о своей компании или объекте бизнеса в каталоге компаний на Сайте, позволяющий воспользоваться дополнительными функциональными возможностями Сайта.</p>
    <br>
    <p><i>2.Общие положения</i></p>
    <p>Настоящее Пользовательское соглашение определяет условия использования Сайта, возможности и условия получения Пользователями основных сервисов и услуг Сайта, а также иные отношения Пользователей с Администрацией Сайта, связанные с использованием Сайта, включая права и обязанности Пользователей и Администрации. Данное Пользовательское соглашение распространяется, в том числе и на отношения, связанные с правами третьих лиц, которые не являются Пользователями Сайта, но их права могут быть затронуты в результате действий Пользователей Сайта.</p>
    <p>Предметом Пользовательского соглашения является предоставление Администрацией Сайта Пользователю услуг по использованию Сайта и его сервисов.</p>
    <p>До момента регистрации на Сайте Пользователь обязан полностью ознакомиться с настоящим Пользовательским соглашением.</p>
    <p>Регистрация Пользователя на Сайте подтверждает факт, что Пользователь безоговорочно и в полном объеме принял настоящее Пользовательское соглашение и обязуется соблюдать его.</p>
    <p>Сайт www.e-restaurantnfc.com даёт всем Пользователям Сайта неисключительное ограниченное право на загрузку и распечатку изображений и справочной информации только с возможностью внутреннего использования в личных целях либо в рамках вашего бизнеса. Вы не вправе иным способом, кроме тех, что оговорены в настоящем Соглашении, воспроизводить, распространять или демонстрировать изображения и справочную информацию без прямого письменного согласия Администрации сайта www.e-restaurantnfc.com.</p>
    <p>Владелец Сайта налагает запрет на использование отображаемой на Сайте информации, содержащейся в базах данных, каталоге компаний, на страницах сайта (в том числе на карте), третьими лицами в любых коммерческих целях, в том числе в целях маркетинга, коммерческой рассылки по факсу, по почте, по электронной почте, либо через коммерческих агентов/представителей или электронных посредников.</p>
    <br>
    <p><i>3.Регистрация на Сайте</i></p>
    <p>Каждый незарегистрированный Пользователь Сайта получает минимальный набор функций, а именно - просмотр страниц, изучение доступной информации, просмотр местоположения компаний (объектов) на карте, поиск компаний (объектов) по стране и городу. Для получения более широких возможностей необходимо пройти процедуру регистрации на Сайте.</p>
    <p>Администрация Сайта регистрирует Пользователя и сохраняет данные о нем (адрес электронной почты, дату регистрации и т.п.) при следующих действиях Пользователя: добавление отзыва о какой-либо компании и других действиях, при которых Пользователю в явной форме предлагают ввести адрес электронной почты (формы: ВОЙТИ, ЗАРЕГИСТРИРОВАТЬСЯ и т.п.).</p>
    <p>E-restaurantNFC собирает адреса электронной почты Пользователей только следующим способом:внесением адреса электронной почты самим Пользователем;</p>
    <p>После успешной процедуры регистрации, каждому Пользователю выделяется Личный кабинет, а также дополнительные функциональные возможности:</p>
    <li>
        <p>делиться информацией с друзьями в популярных социальных сетях;</p>
    </li>
    <li>
        <p>оставлять отзывы о компаниях и объектах инфраструктуры;</p>
    </li>
    <li>
        <p>бронировать столики и смотреть будущие и прошлые резервы;</p>
    </li>
    <li>
        <p>участвовать в акциях и розыгрышах, которые проводятся Администрацией и спонсорами Сайта;</p>
    </li>
    <li>
        <p>одним из первых узнавать о новинках и изменениях на Сайте;</p>
    </li>
    <li>
        <p>общаться напрямую с представителями бизнеса.</p>
    </li>
    <p>Владельцы и представители бизнеса после прохождения процедуры регистрации и авторизации бизнеса получают следующие возможности:</p>
    <li>
        <p>использовать все бесплатные и платные возможности Сайта для продвижения и рекламы своего бизнеса, а также другие платные услуги Сайта;</p>
    </li>
    <li>
        <p>добавлять фотографии и размещать информацию о своем бизнесе (заведении), редактировать и оставлять комментарии от имени заведения;        </p>
    </li>
    <li>
        <p>следить за активностью Пользователей на страницах своих объектов;</p>
    </li>
    <li>
        <p>изменять и улучшать информацию о своей компании, повышать лояльность Пользователей сайта к вашему бизнесу.</p>
    </li>
    <p>Предоставление Владельцам и Пользователям Сайта платных услуг, регулируется отдельными Соглашениями.</p>
    <br>
    <p><i>4.Размещение информации на Сайте</i></p>
    <p>Размещение информации на Сайте происходит в соответствии с Правилами размещения информации.</p>
    <p>Администрация Сайта оставляет за собой право на проверку и модерацию размещенной информации на предмет соответствия Правилами размещения информации. Срок модерации - не более 3-х рабочих дней. После прохождения модерации информация публикуется на страницах Сайта и становится доступной всем Пользователям Сайта.</p>
    <p>Отзывы Пользователей о компаниях и объектах, размещаются на Сайте сразу же после добавления и становятся видны всем пользователям Сайта. Администрация Сайта не несет ответственность за достоверность информации в отзывах, но дает право высказываться каждому Пользователю. Модерация отзывов происходит после размещения на Сайте и только с целью проверки на соответствие Правилам размещения информации.</p>
    <p>Пользователи Сайта, разместившие информацию о компаниях и объектах бизнеса, несут полную ответственность за её содержание и достоверность и берут на себя ответственность перед Владельцами бизнеса за неправомерное использование информации.</p>
    <p>Администрация Сайта оставляет за собой право использовать по своему усмотрению и без ограничений всю информацию, которую добавляют на Сайт Пользователи, в т.ч. Владельцы бизнеса, а именно - модерировать, делать информацию доступной всем пользователям сети Интернет, изменять формат отображения, использовать рерайт для текстов и описаний, использовать в разработке рекламных продуктов e-restaurantnfc.com, осуществлять перевод на иностранные языки. Размещая информацию на Сайте, каждый Пользователь наделяет Администрацию Сайта правом, без какой-либо оплаты, использовать эту информацию в любых странах мира без ограничений по срокам и времени размещения, но придерживаясь Политики конфиденциальности.</p>
    <p>Владельцы и представители бизнеса имеют право удалять информацию, размещенную Пользователями на страницах компании</p>
    <br>
    <p><i>5.Права и обязанности Пользователей Сайта</i></p>
    <p>Каждый Пользователь Сайта имеет право:</p>
    <li>
        <p>зарегистрироваться на Сайте один раз и получить Личный кабинет пользователя, использовать все его функциональные возможности;</p>
    </li>
    <li>
        <p>смотреть всю доступную на Сайте информацию и использовать доступные Пользователям функциональные возможности Сайта, а также писать правдивые отзывы, опираясь на свой опыт;</p>
    </li>
    <li>
        <p>активно и бескорыстно участвовать в развитии проекта e-restaurantnfc.com путем высказывания в письменной форме своего взгляда на те или иные особенности дизайна, подачи информации, функциональности Сайта, используя функцию обратной связи;</p>
    </li>
    <li>
        <p>принимать участие во всех акциях и розыгрышах призов от e-restaurantnfc.com и спонсоров Сайта;</p>
    </li>
    <li>
        <p>пожаловаться на любого Пользователя Сайта, в случае нарушения Соглашения и Правил, установленных Администрацией Сайта;</p>
    </li>
    <li>
        <p>в любой момент отказаться от получения информации, которую Администрация Сайта отправляет на указанные контакнтые данные Пользователем при регистрации.</p>
    </li>
    <p>Если Пользователь сайта одновременно является Владельцем бизнеса, то он имеет право:</p>
    <li>
        <p>добавлять информацию о своей компании и объектах бизнеса в каталог Сайта;</p>
    </li>
    <li>
        <p>зарегистрировавшись, получить в пользование Личный кабинет владельца и использовать все доступные функциональные возможности;</p>
    </li>
    <li>
        <p>сообщать о неправомерных действиях других Пользователей сайта, в том числе и Владельцев бизнеса, в письменной форме через форму обратной связи;</p>
    </li>
    <li>
        <p>участвовать в рейтинге компаний на Сайте.</p>
    </li>
    <p>Все Пользователи Сайта обязаны:</p>
    <li>
        <p>строго придерживаться Правил размещения информации;</p>
    </li>
    <li>
        <p>нести персональную ответственность за точность, правдивость, актуальность размещаемой информации;</p>
    </li>
    <li>
        <p>при прохождении процедуры авторизации бизнеса предоставить Администрации Сайта информацию и документы, подтверждающие, что вы являетесь Владельцем или представителем бизнеса;</p>
    </li>
    <li>
        <p>пользуясь Сайтом не копировать, не распространять, не изменять, не переводить на другие языки, не использовать для создания других информационных и прочих продуктов информацию, которая размещена на e-restaurant.com Администрацией Сайта и Пользователями;</p>
    </li>
    <li>
        <p>не причинять вред функционированию Сайта путем получения незаконного доступа к закрытой информации, программному кода сайта;</p>
    </li>
    <li>
        <p>уведомлять письменно Администрацию Сайта о замене представителя компании (на сайте - Владельца), в случае, если вы перестаете быть Владельцем бизнеса или представителем компании по каким-либо причинам или в случае закрытия бизнеса.</p>
    </li>
    <br>
    <p><i>6.Права и обязанности Администрации Сайта</i></p>
    <p>Администрация Сайта имеет право:</p>
    <li>
        <p>создавать каждому зарегистрированному Пользователю Сайта отдельный аккаунт с выделением Личного кабинета пользователя;</p>
    </li>
    <li>
        <p>выделять Личный кабинет Владельца всем представителям бизнеса, которые добавили хотя бы один объект в каталог компаний на Сайте и прошли процедуру авторизации бизнеса;</p>
    </li>
    <li>
        <p>использовать всю информацию, которая размещена на Сайте в целях улучшения и развития проекта e-restaurantnfc.com, без уведомления авторов, разместивших её;</p>
    </li>
    <li>
        <p>отправлять на адреса и другие контакты, указанные при регистрации на Сайте Пользователями, информацию, связанную с тематикой Сайта, сообщать о нововведениях и изменениях на Сайте;</p>
    </li>
    <li>
        <p>проводить модерацию всей информации, которая размещается на Сайте, на соответствие Правилам размещения информации, включая рерайт текстов и описаний;</p>
    </li>
    <li>
        <p>отказать в регистрации любому Пользователю Сайта, не объясняя причин отказа;</p>
    </li>
    <li>
        <p>не удалять отзывы и комментарии Пользователей, если они не нарушают Правила размещения информации;</p>
    </li>
    <li>
        <p>размещать на Сайте ссылки на другие сайты (но при этом Сайт не несет ответственность за их работоспособность, качество информации и её достоверность);</p>
    </li>
    <li>
        <p>заблокировать доступ к персональному аккаунту в случае нарушения действующих  Правил размещения информации и настоящего Пользовательского соглашения, а также по собственному усмотрению;</p>
    </li>
    <li>
        <p>заблокировать доступ к Личному кабинету Владельца, платному аккаунту и дополнительным платным услугам Сайта в случае нарушения авторских прав третьих лиц, систематического нарушения Правил размещения информации и настоящего Пользовательского соглашения, а также нарушение действующего законодательства на основании документов и запретов, полученных от государственных органов, на основании жалоб Пользователей и просьб руководства компании, представителем (на сайте - Владельцем) которой вы являетесь на сайте.</p>
    </li>
    <p>В целях предоставления Пользователям максимально актуальных и интересующих его данных, Администрация Сайта ведет сбор статистических данных, относящиеся не лично к Пользователям, а к посещению ими Сайта (наиболее популярные страницы Сайта, домены, с которых Пользователи попадают на Сайт, количество ссылок, отзывов, комментариев, дни и время посещения Сайта и т.п.)</p>
    <p>Администрация Сайта обязуется:</p>
    <li>
        <p>прикладывать максимум усилий для обеспечения сохранности информации на Сайте;</p>
    </li>
    <li>
        <p>обеспечивать Пользователей максимально полезной и корректной информацией;</p>
    </li>
    <li>
        <p>постоянно улучшать функциональность Сайта и стремиться сделать его лучше для нужд Пользователей;</p>
    </li>
    <li>
        <p>постоянно придерживаться Политики конфиденциальности;</p>
    </li>
    <li>
        <p>оказывать всестороннюю информационную и техническую поддержку Пользователям Сайта, исходя из графика с 9-00 до 18-00 ежедневно, за исключением выходных и праздничных дней;</p>
    </li>
    <li>
        <p>оперативно реагировать на письменные замечания и пожелания Пользователей, если это не идет вразрез с целями и задачами, направленными на развитие проекта e-restaurantnfc.com;</p>
    </li>
    <li>
        <p>всегда сохранять нейтральную позицию в возможных спорах между Пользователями Сайта, в своих решениях и поступках опираться на основные внутренние документы Сайта, такие как настоящее Пользовательское соглашение, Правила размещения информации, Политика конфиденциальности и др.</p>
    </li>
    <br>
    ользователи Сайта несут полную ответственность, в т.ч. и уголовную, за точность, актуальность и правдивость размещаемой информации и материалов на Сайте, любые противоправные действия на Сайте, а также нарушения авторских прав владельцев Торговой марки Delenate Agency CEI и прав других Пользователей Сайта, согласно действующего законодательства страны, где представлены заведения нашего Сайта.</p>
    <p>Пользователи Сайта несут полную ответственность за сохранность паролей доступа к своим Личным кабинетам и за возможный ущерб и убытки, образовавшиеся в результате использования данных Пользователя третьими лицами. Пользователи Сайта несут полную персональную ответственность за соблюдение законодательства страны, где они проживают в отношении всех действий, осуществляемых Пользователями на Сайте, и обязуются самостоятельно отвечать за свои действия в возможных спорах, судебных разбирательствах, возмещать все возможные убытки, которые могут возникнуть в связи с размещенной на Сайте информацией.</p>
    <p>Администрация Сайта не несет ответственности за бесперебойную работу Сайта, но прикладывает максимум усилий для обеспечения комфортных условий использования Сайта Пользователями.</p>
    <p>Администрация Сайта не несет ответственность за утерю информации, размещенной на Сайте Пользователями в случае противоправных действий третьих лиц и наступления форс-мажорных обстоятельств, но при этом регулярно делает копию сохраненной Пользователями информации.</p>
    <p>Администрация Сайта не несет ответственность за качество, скорость передачи информации через каналы связи общего пользования.</p>
    <br>
    <p><i>8.Конфиденциальность</i></p>
    <p>Правила конфиденциальности на Сайте действуют согласно Политики Конфиденциальности.</p>
    <br>
    <p><i>9.Реклама</i></p>
    <p>Пользователи понимают и принимают, что все страницы Сайта могут сопровождаться разными типами и видами рекламы, и что такая реклама необходима Сайту для постоянного развития и улучшения сервисов для Пользователей. Пользователи обязуются никак не ограничивать показ такой рекламы на страницах Сайта методом внесения изменений в HTML/CSS либо другими доступными способами. Пользуясь Сайтом, каждый Пользователь Сайта признает за Администрацией Сайта право размещать рекламу без предварительного уведомления и без каких-либо компенсаций Пользователям. Тем не менее, Администрация Сайта делает всё, чтобы суть, содержание, внешний вид, место размещения рекламных блоков минимально раздражало пользователей и, по-возможности, соответствовало интересам и целям нахождения на Сайте.</p>
    <p>Пользователи соглашаются с тем, что Администрация Сайта не несет никакой ответственности за причинение каких-либо потерь или убытков, понесенных в результате взаимодействия с рекламодателями и (или) наличия рекламы на страницах Сайта.</p>
    <p>Все взаимоотношения между Администрацией Сайта и рекламодателями регламентируются другими документами.</p>
    <br>
    <p><i>10.Заключительные положения</i></p>
    <p>Соглашаясь с условиями данного Пользовательского соглашения, все Пользователи сайта подтверждают, что полностью ознакомились с условиями Соглашения и понимают его смысл и суть и принимают все правила, описанные в настоящем Соглашении.</p>
    <p>Настоящий документ является юридическим документом и регулирует обязательства, связанные с использованием Пользователями услуг Сайта www.e-restaurantnfc.com. Использование услуг Сайта означает согласие Пользователем на принятие настоящего Соглашения.</p>
    <p>Администрация Сайта оставляет за собой право вносить изменения в настоящее Пользовательское соглашение без предварительного уведомления пользователей Сайта. Любые изменения вступают в силу с момента опубликования нового варианта Пользовательского соглашения на Сайте. Использование Пользователем услуг Сайта после внесения изменений и (или) дополнений в Пользовательское соглашение означает, что Пользователь согласен с такими изменениями и (или) дополнениями.</p>
    <p>Если изменения, внесенные в Пользовательское соглашение, неприемлемы для Пользователя, то он вправе прекратить использовать услуги Сайта.</p>
    <br>
    <p><strong>Контакты</strong></p>
    <br>
    <p>Независимо от того, кто вы: новый или преданный пользователей, владелец ресторана, маркетолог, издатель, СМИ или находитесь в поиске работы, мы хотим быть с вами на связи постоянно. Всегда рады вас слышать!</p>
    <p>Официальный адресс: 15 RUE FOCH 57850 SCHAEFERHOF  </p>

    <p>Телефон: +33 3 87 25 68 24</p>
    <p>Для ресторанов: +33 6 86 89 70 77</p>

    <p>Email:</p>
    <p>Поддержка пользователей: support@delenateagency.com</p>
    <p>По поводу сотрудничества: jpverger@delenateagency.com</p>
    <p>Для корпоративных клиентов: jpverger@delenateagency.com  </p>
    <p>Маркетинговые и рекламные вопросы: support@delenateagency.com</p>
    <p>Для СМИ и медиа: support@delenateagency.com </p>
    <p>По поводу трудоустройства: support@delenateagency.com</p>

</div>
