﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
/*body {
    background: white !important;
    width: 1020px !important;
    margin: 0 12.5% !important;
}*/

body {
    font: 15px 'Lora', sans-serif;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 1020px;
    padding: 0 !important;
    box-shadow: 0 0 2px 2px #808080;
    font-family: 'Lora', sans-serif;
    margin: 0 auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 10px 0;
}

    header h1, #header h1 {
        font-weight: bold;
        padding: 5px 0;
        margin: 0;
        color: #fff;
        border: none;
        line-height: 2em;
        font-size: 32px !important;
        text-shadow: 1px 1px 2px #111;
    }

#main {
    background-color: rgb(233, 234, 236);
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
    padding: 15px 0;
}

footer,
#footer {
    background-color: rgb(16,40,76);
    width: 100%;
    text-align: center;
    clear: both;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }

        ul#menu li#greeting {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            color: #fff;
        }

        ul#menu li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #e8eef4;
            color: #034af3;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
        }

            ul#menu li a:hover {
                background-color: #fff;
                text-decoration: none;
            }

            ul#menu li a:active {
                background-color: #a6e2a6;
                text-decoration: none;
            }

        ul#menu li.selected a {
            background-color: #fff;
            color: #000;
        }

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
---------------------------------------------------------

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    background-color: white;
    height: 45px;
    font-family: 'Lora', sans-serif;
    font-size: 12pt;
}

    #logindisplay a:link {
        text-decoration: none;
    }

    #logindisplay a:visited {
        text-decoration: underline;
    }

    #logindisplay a:hover {
        text-decoration: none;
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
    font-size: x-small;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label {
    margin: 1em 0 0 0;
}

.display-field,
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

td.right-text {
    text-align: right;
}

.button {
    padding: 0px 5px;
    height: 35px;
    background: #bc1815;
    outline: none;
}

.button {
    color: #fff;
    padding: 5px 14px 10px !important;
    background-color: #bc1815;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.6, rgba(50,0,0,0.2)), color-stop(1, rgba(255,255,255,0.35)) );
    background-image: -moz-linear-gradient( center bottom, rgba(0,0,0,0.3) 1%, rgba(255,255,255,0.2) 100% );
    background-image: gradient(center bottom, rgba(0,0,0,0.3) 1%, rgba(255,255,255,0.2) 100% );
    font-family: 'Lora', sans-serif;
    font-size: 15px;
}

    .button:active {
        position: relative;
        top: 3px;
        -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
        box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    }

        .button:active:after {
            content: "";
            width: 100%;
            height: 3px;
            background: #fff;
            position: absolute;
            bottom: -1px;
            left: 0;
        }

    .button:hover {
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.3, rgba(0,0,0,0.2)), color-stop(1, rgba(255,255,255,0.35)) );
        background-image: -moz-linear-gradient( center bottom, rgba(0,0,0,0.45) 1%, rgba(255,255,255,0.3) 100% );
        background-image: gradient( center bottom, rgba(0,0,0,0.45) 1%, rgba(255,255,255,0.3) 100% );
    }

    .button.join {
        width: 200px;
        /*height: 35px;*/
        height: 50px;
        color: rgba(113, 152, 207, 0.8);
        font-weight: bold;
        background-color: rgba(11, 47, 89, 1);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.2, rgba(0,0,0,0.34)), color-stop(0.8, rgba(255,255,255,0.3)) );
        background-image: -moz-linear-gradient( center bottom, rgba(0,0,0,0.3) 1%, rgba(255,255,255,0.2) 100% );
        background-image: gradient( center bottom, rgba(0,0,0,0.3) 1%, rgba(255,255,255,0.2) 100% );
        -moz-box-shadow: 3px 5px 6px #000000;
        -webkit-box-shadow: 3px 5px 6px #000000;
        box-shadow: 2px 3px 2px #000000;
    }

        .button.join:hover {
            color: white;
            background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.8, rgba(0,0,0,0.5)), color-stop(1, rgba(255,255,255,0.35)) );
            background-image: -moz-linear-gradient( center bottom, rgba(0,0,0,0.45) 1%, rgba(255,255,255,0.3) 100% );
            background-image: gradient( center bottom, rgba(0,0,0,0.45) 1%, rgba(255,255,255,0.3) 100% );
        }

        .button.join:active:after {
            content: "";
            width: 100%;
            height: 3px;
            background: rgba(0,0,0,0);
            position: absolute;
            bottom: -1px;
            left: 0;
            -moz-box-shadow: 3px 5px 6px #000000;
            -webkit-box-shadow: 3px 5px 6px #000000;
            box-shadow: 2px 3px 2px rgb(16,40,74);
            -webkit-transition: top 0.2s ease, shadow 0.3s ease;
            -moz-transition: top 0.2s ease, shadow 0.3s ease;
        }

#register {
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0 30px 15px 30px;
    border-radius: 4px;
}

    #register input[type="text"],
    #register input[type="password"] {
        width: 416px;
        background: #fbfbfb;
        border: 1px solid #cccdcf;
        box-shadow: inset 0 2px 3px #e8e8e8;
    }

    #register select {
        background: #fbfbfb;
        border: 1px solid #cccdcf;
        box-shadow: inset 0 2px 3px #e8e8e8;
        width: 416px;
        height: 30px;
    }

label, span {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
}

ul.fmenu {
    list-style: none;
    margin: 0;
}

    ul.fmenu li {
        display: inline;
    }

        ul.fmenu li a {
            font-family: 'Lora', sans-serif;
            text-decoration: none;
            font-size: 14px;
            color: white;
            padding: 6px 10px 6px 10px;
        }

p.formheader {
    font-family: 'Lora', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
}

.panel {
    background-color: transparent !important;
    margin-bottom: 10px !important;
}

.panel-info {
    border-color: #142849 !important;
    background-color: transparent !important;
}

    .panel-info > .panel-heading {
        color: #ffffff !important;
        background-color: #142849 !important;
        border-color: #142849 !important;
    }

.mainpanel {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 700px;
    margin: 0 auto;
}

    .mainpanel .title, .modal-header {
        background-color: rgba(20,40,73,1);
        width: 100%;
        border-radius: 5px 5px 0 0;
        padding: 10px !important;
    }

        .mainpanel .title h3, .modal-header h3 {
            font-family: 'Lora', sans-serif;
            font-size: 20px !important;
            margin: 0 20px 0 20px !important;
            color: white;
        }

.modal-dialog {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mainpanel .content, .modal-body {
    background-color: rgba(244,244,244,1);
    padding: 15px;
    border-radius: 0 0 5px 5px;
}

#preferenceContainer {
    width: 700px;
    float: right;
    margin: 25px 20px 0px 0px;
}

.graphite .preference_accordion, .graphite .preference_accordion li {
    margin: 0;
    padding: 0;
    border: none;
}

    .graphite .preference_accordion a {
        padding: 5px 4px 5px 31px;
        background: rgba(11, 47, 89, 1);
        text-decoration: none;
        display: block;
        color: white;
        position: relative;
        cursor: pointer;
    }

.graphite .preference_accordion {
    font: 14px 'Lora', sans-serif;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    list-style: none;
}

.preference_checkbox, .preference_radio1 {
    background-color: rgba(244,244,244,1);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 5px 0;
}

    .preference_checkbox ul {
        padding: 0;
    }

#chosenOption {
    margin: 90px 0px 0px 0px;
    float: left;
}

#pref_chosen_opt {
    opacity: 1;
    background: #992222;
    border: none;
}

#cross_out {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30%;
    margin-left: -26px;
    margin-top: -2px;
}

.accordion_trigger {
    display: block;
    background-color: none;
    color: blue;
    cursor: pointer;
    z-index: 5;
}

.accordion_item:last-of-type {
    border-bottom: none;
}

.profileMenu {
    display: inline;
    color: Black;
    z-index: 3;
    margin: 17px 0px 0px -38px;
    float: left;
}

#mainHeader.navbar {
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 0 !important;
    margin: 0px !important;
}

    #mainHeader.navbar a {
        text-decoration: none;
    }

img.flag {
    width: 28px;
    height: 28px;
}

#userMenu .dropdown-menu li:hover *, #userMenu .dropdown-menu li:hover {
    background-color: rgba(137, 16, 14, 1) !important;
}

#languageMenu .dropdown-menu li:hover *, #languageMenu.dropdown-menu li:hover {
    background-color:none !important;
}
#languageMenu.dropdown > a,
.navbar-nav > li > a,
.navbar-brand {
    padding: 5px !important;
}

.navbar-nav > li.notAuthenticated {
    padding: 4px 0;
}

.navbar-nav > li#userMenu > a {
    padding: 10px !important;
}

.navbar {
    min-height: 39px !important;
}

#userMenu.dropdown.open a, #languageMenu.dropdown.open a {
    background-color: transparent !important;
}

/* ---- details restaurant ---- */

/* ---same on the string #760
#wallpaper {
    background: #FFFFFF;
    background-image: url(../Images/Wallpaper1020X420.png);
    height: 300px;
    z-index: 1;
}
    */
.restaurantsWallpaper {
    width: 100%;
}

/*site14 css*/ /*siteMain css*/
/* CATEGORY MENU BLOCK */

.navigationMenu {
    margin: -400px 0px 0px 0px;
    position: absolute;
    z-index: 5;
}

ul#navmenu-v, ul#navmenu-v li, ul#navmenu-v ul {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    width: 30px;
    list-style: none;
    z-index: 1;
}

#restaurantsName {
    width: 460px;
    font-size: 40px;
    text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px;
    float: right;
}

    #restaurantsName * {
        color: white;
    }

    #restaurantsName h1 {
        font-size: 40px;
    }

#adress {
    width: 400px;
}

#phoneNumber {
    color: white;
    font-size: 20px;
}

#gallery {
    width: 400px;
    float: left;
    /*position: relative;*/
}

    #gallery #main-img {
        background: none;
        width: 350px;
        height: 250px;
        margin: 26px;
    }

    #gallery ul {
        padding-left: 10px;
    }

    #gallery li {
        display: inline;
        margin-right: 3px;
        cursor: pointer;
    }

.miniPhotos {
    margin: -20px 0px 0px 105px;
}

.restaurantPhotos {
    width: 80px;
    height: 80px;
    border: double black;
    box-shadow: 0px 0 10px 0 #474747;
}

#restaurantDiscription {
    width: 450px;
    /*min-height: 70px;*/
    font-size: 12px;
    text-align: justify;
    margin: 10px;
    float: right;
}

#navigationMenuRP {
    background: rgba(0,0,0,0.7);
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

ul.css-menu-1 {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
}

    ul.css-menu-1 li {
        display: inline;
    }

        ul.css-menu-1 li a {
            font-family: 'Lora', sans-serif;
            text-decoration: none;
            color: white;
            padding: 6px 10px 6px 10px;
        }

            ul.css-menu-1 li a:hover {
                padding: 6px 10px 6px 10px;
                font-weight: bold;
            }

#wallpaper {
    background-image: url(../Images/Wallpaper1020X420.png);
    background-repeat: no-repeat;
    height: 420px;
}

#wallpaper_article {
    background-image: url(../Images/wallpaper1020x420_articles.png);
    background-repeat: no-repeat;
    height: 450px;
}

.category_name {
    color: rgba(11, 47, 89, 1);
}

.category_menu, .category_menu ul, .category_menu li {
    margin: 0;
    padding: 0;
}

.category_menu {
    background: rgba(11,47,89,0.9);
    margin-top: -30px;
    border: white 1px solid;
}

    .category_menu ul {
        background: rgba(11,47,89,0.9);
    }

.category_menu { /* подменю перемещается относительно меню */
    position: relative;
    display: table;
    width: 100%;
}

    .category_menu ul { /* подменю находится вне потока */
        position: absolute;
        z-index: 5;
        display: none;
        width: 200px;
    }

#category_menu_articles {
    margin-left: 110px;
    z-index: 7;
}

#category_menu_restaurant {
    margin-left: 200px;
}

.category_menu li:hover ul { /* подменю будет показано, если курсор наведён на пункт меню с выпадающем списком */
    display: block;
}

.category_menu li {
    display: table-cell;
    text-align: center;
}

.category_menu ul li {
    display: block;
    text-align: left;
    background: rgba(0,0,0,0.4) url(../images/triangle.png) no-repeat 3px 50%;
}

.category_menu a {
    display: block;
    padding: 3px 0;
    color: #fff !important;
    text-decoration: none !important;
}

.category_menu ul a {
    padding: 3px 15px;
}

.category_menu ul li:hover {
    background: rgba(0,0,0,0.5) url(../images/triangle.png) no-repeat 3px 50%;
}

.category_menu li:hover {
    background: rgba(0,0,0,0.5);
}


/* ----------START PAGE TRIAL -----------------*/
.wrapper_category_trial {
    margin-left: 20px;
}

.QR1 {
    margin: 8px;
    width: 40px;
    height: 40px;
}

ul.css-menu-1 li a.selected {
    background: #369;
}

#restaurantDetails, #specialOffers, #restaurantsMenu, #restaurantAtMap {
    width: 900px;
    margin: 0 auto;
}


.titleBlock {
    margin-top: 25px;
    background-color: rgba(20,40,73,1);
    height: 30px;
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px 5px 0 0;
    padding: 2px 0px 0px 10px;
    text-transform: uppercase;
}

.contentBlock {
    background-color: rgba(244,244,244,1);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

.restaurantDetailsTitleOneLine {
    width: 140px;
    font-weight: bold;
}

.specialOfferDiscription {
    width: 450px;
    padding-right: 20px;
    padding-left: 10px;
}

#toTop {
    width: 100px;
    border: none;
    background: none;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 11px;
    z-index: 100;
}

#nav7, #nav7 ul, #nav7 li {
    margin: 0;
    padding: 0;
}

    #nav7, #nav7 ul {
        background: rgb(46,95,122);
    }

#nav7 { /* подменю перемещается относительно меню */
    position: relative;
    display: table;
    width: 100%;
}

.category_name {
    font-size: 17px;
    width: 700px;
    border-bottom: 2px solid #ddd;
    padding: 15px;
    float: left;
    text-align: center;
    margin-right: 15px;
}

#nfc_icon_category {
    height: 30px;
    /*position: absolut;*/
}

#restaurantList {
    width: 700px;
    float: left;
    min-height: 200px;
}

.restaurant_block {
    width: 700px;
    min-height: 120px;
    background-color: white;
    margin: 5px 0;
    -webkit-box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
}

.rest_picture_main {
    width: 140px;
    height: 110px;
    padding: 10px 10px 0 10px;
}

#restaurant_name_category {
    color: rgba(11,47,89,1);
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
}

.contentBlockMenu {
    background-color: rgba(244,244,244,1);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 0 0 5px 5px;
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

.priceBlock {
    font-weight: bold;
    padding-left: 15px;
}

.specialOfferDiscription {
    width: 450px;
    padding-right: 20px;
    padding-left: 10px;
}

.specialOfferPeriod {
    width: 160px;
    text-align: center;
}

img.specialOfferPicture {
    border-radius: 5px;
    margin: 1px;
}


table#unitlist tr:nth-child(odd) {
    background-color: #e5e5e5;
}

ul#nav7 li:nth-child(odd):not(.SubType) {
    background: #285269;
}

div#loadUnitList {
    position: absolute;
    background-color: white;
    z-index: 99;
    opacity: 0.8;
    text-align: center;
    display: none;
}

    div#loadUnitList img {
        vertical-align: middle;
    }
/*  MENU OF RESTAURANT */
#menuList ul#acordion {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
}

#menuList ul#accordion li:not(.second) {
    cursor: pointer;
    background: rgb(42, 83, 105);
    color: white;
    margin-bottom: 1px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 4px 0px 0px;
    width: 100%;
    font-size: 18px;
    text-align: left;
}


ul#accordion li #menuTitleIcon {
    width: 5%;
    display: inline-block;
    vertical-align: top;
    height: 45px;
    padding-top: 4px;
    text-align: center;
}

ul#accordion li #menuTitleNameAndTranslate {
    width: 80%;
    display: inline-block;
}

.translationMenu {
    font-size: 11px;
    color: #C5C0B0;
    padding-bottom: 4px;
}

#menuList {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 0 0 5px 5px;
}

    #menuList ul {
        padding-left: 0;
        border-radius: 0 0 5px 5px;
    }

        #menuList ul li:last-child {
            border-radius: 0 0 5px 5px;
        }

        #menuList ul#accordion li ul.subtype {
            padding: 0;
            margin: 4px 0 0 0;
            width: 100%;
            background: #992222;
            overflow: hidden;
            display: none;
        }

            #menuList ul#accordion li ul.subtype li {
                text-align: center;
                border-bottom: 1px solid #b2b2b2;
                font-size: 14px;
                line-height: 20px;
            }

.listMeals {
    background: rgb(250, 250, 250);
    color: black;
}

.menuUnitForMobile {
    border-bottom: 1px grey solid;
    text-align: justify;
}

.mealNamePrice {
    display: inline-block;
    width: 100%;
}

#namePeriodDescriptionBlock {
    width: 780px;
    display: inline-block;
    text-align: left;
    padding: 7px;
}

.specialOfferName {
    font-weight: bold;
}

.translationTitleMenuUnit {
    font-size: 11px;
    color: #C5C0B0;
    color: black;
}

/*.mealDiscription {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}*/

.menuPicture {
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    width: 114px;
    text-align: center;
}


a:link, a:visited {
    color: rgba(11, 47, 89, 1);
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:active {
    color: rgba(11, 47, 89, 1);
    text-decoration: underline;
}

#rating_stars_category {
    width: 100px;
    height: 20px;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.average_check {
    margin: -60px 0 0 150px;
    display: none;
}

.average_price {
    display: inline;
    font-size: 18px;
    color: #89100e;
}


.restaurant_address {
    font-size: 16px;
}


.show_details {
    color: rgba(11, 47, 89, 1);
    cursor: pointer;
}

#nav7 ul { /* подменю находится вне потока */
    position: absolute;
    z-index: 5;
    display: none;
}

#nav7 li:hover ul { /* подменю будет показано, если курсор наведён на пункт меню с выпадающем списком */
    display: block;
}

#nav7 li {
    display: table-cell;
    text-align: center;
}

#nav7 ul li {
    display: block;
    text-align: left;
}

#nav7 .right { /* последнее подменю будет расширяться справа налево */
    direction: rtl;
}

    #nav7 .right ul { /* для IE, решение найдено случайно, где связь ??? */
        right: 0;
    }

    #nav7 .right li { /* последнее подменю будет расширяться справа налево, но не пункты последнего подменю */
        direction: ltr;
    }

#nav7 a {
    display: block;
    padding: 3px 0;
    color: #fff;
    text-decoration: none;
}

#nav7 ul a {
    padding: 3px 15px;
}

#nav7 li:hover {
    background: #142849;
}

.show_det {
    float: right;
}

.show_details:hover {
    text-decoration: none;
}

.show_details img {
    margin-right: 10px;
}

.arrow_up_details {
    margin-left: 715px;
    cursor: pointer;
}

.discount_icon {
    width: 40px;
    height: 40px;
    margin-left: 690px;
}



.restaurant_details_hide {
    display: none;
    background-color: white;
    padding: 10px 10px 3px 10px;
    text-align: justify;
    float: left;
}

.rateCategory {
    text-transform: uppercase;
    margin-bottom: 0px !important;
}

td.imgcategoryrate {
    padding: 2px;
}

td.namecategoryrate {
    padding: 0 5px;
}

/* ARTICLES CAROUSEL
----------------------------------------------------------*/

.mainTableForArticles {
    padding: 0px;
}

#articles_category_new {
    width: 720px;
    border-bottom: 1px double #992222;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
}

#articles_category_popular {
    width: 250px;
    border-bottom: 1px double #992222;
    font-size: 20px;
    float: left;
    padding: 15px;
}

#newArticles {
    width: 780px;
}

#popularArticles {
    width: 240px;
    margin-left: -10px;
}

#popularArticlesDiv {
    text-align: start;
}


.articleContainer {
    margin: 10px;
    width: 680px;
    min-height: 170px;
    color: black;
    background-color: white;
    box-shadow: 0 0 4px 1px #000000;
    float: left;
}

#articleImage {
    margin: 10px;
    height: 170px;
    float: left;
}

.articlegrid {
    width: 220px;
    height: 200px;
    margin: 8px;
    float: left;
    position: relative;
    background: white;
    overflow: hidden;
    -webkit-box-shadow: 2px 0px 5px #000;
    -moz-box-shadow: 2px 0px 5px #000;
}

    .articlegrid img {
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
    }

        .articlegrid img:hover {
            position: absolute;
            top: 0;
            left: 0;
            border: 0;
        }

.articlecapt {
    top: 160px;
    float: left;
    position: absolute;
    background: rgba(11,47,89,0.9);
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.5));
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.5));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.5));
    height: 200px;
    width: 100%;
    opacity: .9;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.articlegrid p {
    padding: 10px;
    padding-left: 5px;
    width: 100%;
    color: rgba(11, 47, 89, 1);
    line-height: 1.5em;
}

.articlecapt #article_name {
    text-align: center;
    color: rgba(11,47,89,0.9);
}

#sbutton {
    color: white;
    background: #bc1815;
    border: none;
    font-size: 1.2em;
    padding: 1px;
    width: 100px;
    height: 30px;
    left: -3pt;
    position: relative;
}

    #sbutton:active {
        position: relative;
        background: #98110f;
    }

#ShowAtMap_tooltips {
    text-align: center;
}

.showAtMap {
    text-align: center;
}


a.tooltips {
    position: relative;
    display: inline;
}

    a.tooltips span {
        position: absolute;
        width: 120px;
        color: #FFFFFF;
        background: rgba(153, 34, 34, 0.95);
        border: 2px solid #6D0315;
        height: 30px;
        line-height: 1.3em;
        text-align: center;
        visibility: hidden;
        border-radius: 6px;
        font-size: 11px;
    }

        a.tooltips span:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -8px;
            width: 0;
            height: 0;
            border-right: 8px solid #6D0315;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }

a:hover.tooltips span {
    visibility: visible;
    opacity: 1;
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left: 15px;
    z-index: 999;
}

#menuInMenuBlock {
    cursor: pointer;
}

/* ARTICLE
----------------------------------------------------------*/
#Article {
    width: 720px;
    margin: 30px 20px 10px 30px;
    background-color: white;
    padding: 10px;
    min-height: 225px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#articlesImage {
    border: groove 2px #091B58;
    margin-right: 15px;
    margin-bottom: 10px;
}

#articleTitle {
    font-size: 18px;
}

#articleDescription {
    font-size: 14px;
    margin-top: 20px;
    text-align: justify;
    height: 500px auto;
}

#articleText {
    font-size: 14px;
    margin-top: 20px;
    text-align: justify;
    height: auto;
}

#articleDate {
    font-size: 11px;
    margin-top: 5px;
    text-align: justify;
}

.backToArticle {
    text-align: right;
    margin-right: 30px;
}

#backToArticle {
    font-size: 15px;
    text-decoration: none;
}

    #backToArticle:hover {
        font-size: 15px;
    }

.SearchString {
    width: 100px;
    height: 28px;
    padding: 1px 1px 1px 4px;
    width: 450px;
    height: 30px;
    outline: none;
}

ul.dropdown-menu {
    /*min-width: 50px;*/
}

    ul.dropdown-menu li {
        padding: 5px 8px;
    }

.blockLogo {
    float: left;
}

.centreBlockRest {
    width: 480px;
    float: left;
    padding: 10px;
}

.linkShow {
    text-align: right;
    width: 105px;
}

.rightBlockRest {
    float: right;
    width: 79px;
}
/*Article*/

.btnArt {
    color: white !important;
    text-decoration: none !important;
    margin-left: 15px;
}

.nofotoArticle {
    /*height: 150px;
    width: 200px;*/
    background-position-y: center;
    background-position-x: center;
    background-position: center;
    background: url('../Images/UnitNofoto.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/*  search  */
.searchheader {
    background: #992222;
    padding-left: 20px !important;
    padding: 5px;
}

    .searchheader span {
        font-size: 17px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }

    .searchheader img {
        height: 21px;
        margin-left: 5px;
    }

    .searchheader .linkallresults {
        float: right;
    }

table.searchCities {
    width: 100%;
    border-spacing: 3px;
    border-collapse: separate;
}

    table.searchCities tr:nth-child(odd) {
        background-color: white;
    }

div#loadingSearch {
    background: white;
    background-position: 50% 50%;
    opacity: 0.7;
    height: 500px;
    width: 1020px;
    position: absolute;
    top: 0;
    background-image: url('../Images/loader.gif');
    background-repeat: no-repeat;
    display: none;
}

label#restaurantincity {
    font-weight: bold;
    color: red;
}

#articleText img {
    max-width: 500px;
    max-height: 500px;
}

#languageMenu ul.dropdown-menu li {
    display: inline;
}

.popup_text {
    height: 140px;
    color: #00002B;
}

.title-font-size {
    font-size: 15px;
}

.workPanel {
    margin-left: -11px;
    text-align: right;
}
