﻿@model e_Restaurant.Models.ArticleDetailsModel
@using e_Restaurant.Common

<div id="newArticles">
    <div id="Article">
        <img id="articlesImage" src="@Url.Action("Index", "Thumbnail", new { ImagePath = Url.Content(Model.logo), width = 300, height = 200 })" width="300" height="200" align='left';/>
        <div id="articleTitle"><strong>@Html.DisplayFor(model => model.title)</strong></div>
        <div id="articleDate">@COM.GetTranslation("LABEL_ARTICLE_POSTED") @String.Format("{0:D}", Model.data_created) by @Html.DisplayFor(model => model.UserName)</div>
        <div id="articleDescription">
            <i>@Html.Raw(Model.short_text)</i>
        </div>
        <div id="articleText">
            @Html.Raw(Model.full_text)
        </div>
        <br>
        @if (!string.IsNullOrEmpty(Model.tag))
        { 
            <span>@COM.GetTranslation("LABEL_ARTICLE_TAGS"):</span> <a href="#">@Model.tag</a>
        }
    </div>

    @if (HttpContext.Current.User.Identity.IsAuthenticated && ((Model.UserID == COM.UserData.ID) || (COM.UserData.Role[0] == "Admin")))
    {   
        <div id="menu_article" style="margin-left: 28px;">
            @Html.ActionLink(@COM.GetTranslation("LABEL_ARTICLE_DELETE_BTN"), "Delete", "Article", new { id = Model.ID, articlename = StringHelpers.ToSeoUrl(Model.title) }, null)
            <span>|</span>@Html.ActionLink(@COM.GetTranslation("LABEL_ARTICLE_MODIFY_BTN"), "Edit", "Article", new { id = Model.ID, articlename = StringHelpers.ToSeoUrl(Model.title) }, null)
            @if (COM.UserData.Role[0] == "Admin")
            {
                <span>|</span>
                @Html.ActionLink(@COM.GetTranslation("LABEL_BTN_ADD_TRANSLATION"), "Translate", "Article", new { id = Model.ID, articlename = StringHelpers.ToSeoUrl(Model.title) }, null)
            }
        </div>
    }
    <br />
    <div style="padding:0 10px;">
        <div style="width: 45%; float: left;">
            <a href="javascript:window.history.back()">@COM.GetTranslation("LABEL_BACK_TO_ARTICLE")</a>
        </div>
        <div class="backToArticle" style="width: 45%; float: left;">
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            { 
                @Html.ActionLink(@COM.GetTranslation("LABEL_BACK_TO_MY_ARTICLE"), "Index")
            }
        </div>
    </div>
</div>
<br />
