﻿@model IEnumerable<e_Restaurant.Models.ArticleDetailsModel>
@using e_Restaurant.Common
@using PagedList.Mvc;

@foreach (var item in Model)
{    
    <div class="articleContainer">
        <div id="articleImage">
            <img src="@Url.Action("Index", "Thumbnail", new { ImagePath = Url.Content(item.logo), width = 200, height = 150 })" width="200" height="150" />
        </div>
        <div style="float: left; width: 450px">
            <div style="padding-top: 7px; text-align: justify;">
                <strong>@Html.ActionLink(@item.title, "Details", "Article", new { id = item.ID, articlename = StringHelpers.ToSeoUrl(item.title) }, null)</strong>
            </div>
            <div style="text-align: justify; min-height: 120px;">
                @Html.Raw(item.short_text)
            </div>
            <div style="text-align: justify;">
                @if (!string.IsNullOrEmpty(item.tag))
                { 
                    <span>@COM.GetTranslation("LABEL_ARTICLE_TAGS"): </span><a href="#">@item.tag</a>
                }
@*                @if (HttpContext.Current.User.Identity.IsAuthenticated && item.UserID == COM.UserData.ID)
                {
                    <br />
                    <span>@COM.GetTranslation("LABEL_ARTICLE_PUBLISHED"):</span>
                    if (item.Active == true)
                    {
                    <span>@COM.GetTranslation("LABEL_YES")</span>
                    }
                    else
                    {
                    <span>@COM.GetTranslation("LABEL_NO")</span>
                    }
                }*@
                @if (HttpContext.Current.User.Identity.IsAuthenticated && (COM.UserData.Role[0] == "Admin"))
                {
                    if (item.Languages.Count > 1)
                    {
                    <p>
                        <span>Languages: </span>
                        @foreach (var lang in item.Languages)
                        {              
                            <span>@Html.ActionLink(lang.Value, "EditArtTranslate", new { id = item.ID, langId = lang.Text })</span>
                        }
                    </p> 
                    }
                }
            </div>
            @if (HttpContext.Current.User.Identity.IsAuthenticated && item.UserID == COM.UserData.ID)
            {
                <div class="workPanel">
                    @if (item.Active == true)
                    {
                        @Html.ActionLink(@COM.GetTranslation("BTN_SEND_IN_A_DRAFT"), "Deactivate", "Article", new { id = item.ID, articlename = StringHelpers.ToSeoUrl(item.title) }, null)
                    }
                    else
                    { 
                        @Html.ActionLink(@COM.GetTranslation("LABEL_ACTIVATE"), "Activate", "Article", new { id = item.ID, articlename = StringHelpers.ToSeoUrl(item.title) }, null)
                    }
                    <span>|</span> @Html.ActionLink(@COM.GetTranslation("LABEL_ARTICLE_DELETE_BTN"), "Delete", "Article", new { id = item.ID, articlename = StringHelpers.ToSeoUrl(item.title) }, null)
                    <span>|</span> @Html.ActionLink(@COM.GetTranslation("LABEL_ARTICLE_MODIFY_BTN"), "Edit", "Article", new { id = item.ID, articlename = StringHelpers.ToSeoUrl(item.title) }, null)
                    @if (COM.UserData.Role[0] == "Admin")
                    {
                        <span>|</span>
                        @Html.ActionLink(@COM.GetTranslation("LABEL_BTN_ADD_TRANSLATION"), "Translate", "Article", new { id = item.ID, articlename = StringHelpers.ToSeoUrl(item.title) }, null)
                    }
                </div>}
        </div>
    </div>     
}
