﻿@model IEnumerable<e_Restaurant.Models.ArticleDetailsModel>
@using e_Restaurant.Models

<script type="text/javascript">
    String.prototype.limit = function (limit, userParams) {
        var text = this
          , options = {
              ending: '...'  // что дописать после обрыва. HTML символ многоточия: &hellip; 
              , trim: true     // обрезать пробелы в начале/конце?
              , words: true    // уважать ли целостность слов? 
          }
          , prop
          , lastSpace
          , processed = false
        ;

        //  проверить limit, без него целого положительного никак
        if (limit !== parseInt(limit) || limit <= 0) return this;

        // применить userParams
        if (typeof userParams == 'object') {
            for (prop in userParams) {
                if (userParams.hasOwnProperty.call(userParams, prop)) {
                    options[prop] = userParams[prop];
                }
            }
        }

        // убрать пробелы в начале /конце
        if (options.trim) text = text.trim();

        if (text.length <= limit) return text;    // по длине вписываемся и так

        text = text.slice(0, limit); // тупо отрезать по лимиту
        lastSpace = text.lastIndexOf(" ");
        if (options.words && lastSpace > 0) {  // урезать ещё до границы целого слова
            text = text.substr(0, lastSpace);
        }
        return text + options.ending;
    }

    $(document).ready(function () {
        $('div .popup_text span').each(function (index) {
            //console.log(index + ": " + $(this).text().limit(5));
            $(this).text($(this).text().limit(56));
        });

        $('.articlegrid.caption').hover(function () {
            $(".cover ", this).stop().animate({ top: '0px' }, { queue: false, duration: 160 });
        }, function () {
            $(".cover ", this).stop().animate({ top: '160px' }, { queue: false, duration: 160 });
        });
    });
</script>

<div id="popularArticles_trial">
    @foreach (var item in Model)
    {       
        <div class="articlegrid caption">
            <img src="@Url.Action("Index", "Thumbnail", new { ImagePath = Url.Content(item.logo), width = 220, height = 200 })" width="220" height="200"/>
            <div class="cover articlecapt">
                <div style="padding: 5px;">
                    <p>
                        @Html.ActionLink(item.title, "Details", "Article", new { id = item.ID, articlename = e_Restaurant.Common.StringHelpers.ToSeoUrl(item.title) }, new { @style = "font-size:16px;" })
                        <br />
                        @{   
        string brouserLanguage = e_Restaurant.Common.COM.BrowserData.Language;
        var cultures = System.Globalization.CultureInfo.GetCultureInfoByIetfLanguageTag(brouserLanguage); 
                        }
                        <span>@item.data_created.ToString("D", cultures)</span>
                    </p>

                    <div class="popup_text">
                        @Html.DisplayFor(modelItem => item.UserName)
                        <br />
                        <span>@Html.Raw(item.short_text)</span>
                    </div>
                </div>
            </div>
        </div>       
    }
</div>
