﻿@model e_Restaurant.Models.RestaurantStartPageModel
@using e_Restaurant.Common
<div class="restaurant_block" id="@string.Format("rest_block{0}", Model.ID)">
    <div class="blockLogo">
        <img src="@Url.Action("Index", "Thumbnail", new { ImagePath = Model.Logo, width = 140, height = 110 })" class="rest_picture_main" alt="@Model.Name, @Model.City"/>
    </div>
    <div class="centreBlockRest">
        <a href="@Url.Content(string.Format("~/Restaurant/{0}", Model.Ref))" id="restaurant_name_category"><b>@Html.DisplayFor(m => m.Name)</b></a>
        <br />
        <img id="rating_stars_category" src="@Url.Content("~/Images/star5.png")" alt="">
        <p class="average_check">@COM.GetTranslation("LBL_START_AVERAGECHECK")<span class="average_price">&nbsp;25$</span></p>
        <p class="restaurant_address">@COM.GetTranslation("LBL_COMMON_ADDRESS"):
                                <span id="rest_address_category">
                                    @Html.DisplayFor(m => m.Adress)
                                    @Html.DisplayFor(m => m.ZipCode)
                                    @Html.DisplayFor(m => m.CountryName)
                                    @Html.DisplayFor(m => m.CountryCode)
                                    @Html.DisplayFor(m => m.City)
                                </span>
        </p>
    </div>
    <div class="rightBlockRest">
        @if (!string.IsNullOrEmpty(Model.Langtitude) || !string.IsNullOrEmpty(Model.LongTitude))
        {   <div>
            <a  href="@string.Format("https://maps.google.com/maps?q={0},{1}", Model.Langtitude, Model.LongTitude)" target="_blank" class="tooltips">
                <img class="QR1" src="@Url.Content("~/Images/Restaurant/icons/ShowAtMapRB_50x50.png")" alt="">
                <span id="ShowAtMap_tooltips">@COM.GetTranslation("LABEL_TOOLTIPS_SHOW_AT_MAP") @Model.Name</span></a>
        </div>
        }
        @if (!string.IsNullOrEmpty(Model.Description))
        {                     
            <div class="show_det" style="position: relative; display:none;" >
                <div class="linkShow">
                    <a class="show_details" id="show_det2" data-container="@string.Format("restaurant_details{0}", Model.ID) ">
                        <span>@COM.GetTranslation("LBL_MORE_DETAILS")</span>
                        <img src="@Url.Content("~/Images/arrow_down.png")" alt=""></a>
                </div>
            </div>
        }
    </div>


    <div class="restaurant_details_hide" id="@string.Format("restaurant_details{0}", Model.ID)">
        <p class="rest_description_short">
            @Html.DisplayFor(modelItem => Model.Description)
        </p>
    </div>
    <div style="clear: both"></div>
</div>
