﻿@{
    ViewBag.Title = "About Us";
}


  <div style="background: #E9EAEC"  id="main">

<div id="wallpaperFooter">
        <form>
            <img class="restaurantsWallpaper" src="../../Images/footer_wallpaper.png" alt="" />
        </form>
    </div>

<div id="aboutUsBlock1">
The concept of <span class="redFontForFooter">E-RESTAURANT NFC</span> was born to facilitate the translation of restaurants menus for foreign tourists.
Indeed, many of them face with the problem of translation and not feel comfortable when they don't understand what is in their plates.
</div>
<br>
<div id="aboutUsBlock2">
In 2012
<p><span style="font-size: 35px"> Jean Philippe VERGER & Grégoire SCHNAKENBOUGR</span></p>
decide to create this project.
</div>
<br>
<div id="aboutUsBlock3">
<span class="redFontForFooter">Delenate Agency</span> is software development company, that has been working in Ukraine for a long time.
<p><span class="redFontForFooter">E-Office NFC</span> is promotion company, that works in France and abroad. </p>
<p><span class="redFontForFooter">Delenate та e-OfficeNFC</span> combine their resources and create <span class="redFontForFooter">E-RestaurantNFC.</span>  </p>
</div>

<div id="aboutUsBlock4">
Project succesfully evolves not only in France. Now <span class="redFontForFooter">E-RestaurantNFC</span> works in next countries:
<strong>Switzerland, Belgium, Spain, United Arab Emirates, Ukraine, Vietnam, Burkina Faso.</strong>
</div>

<div id="aboutUsBlock5">
<span class="redFontForFooter">E-RestaurantNFC</span> in the media:
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/rDQ69lHsh4g" frameborder="0" allowfullscreen></iframe>      </p>
</div>

<div id="aboutUsBlock6">
<span class="redFontForFooter">E-RestaurantNFC</span> helps:
<ul>
<li type="circle"><p><span class="redFontForFooter">Translate</span> restaurant's menu and additional infaormation in 18 languages. Also it helps to avoid
   dificulties of communication between staff and foreign clients;</p>     </li>
<li type="circle"><p><span class="redFontForFooter">Promote</span> your restaurant in dining database.</p> </li>
<li type="circle"><p><span class="redFontForFooter">Use statistic</span> to analise your customer's behaviour. </p>  </li>
<li type="circle"><p><span class="redFontForFooter">Be in trend</span>: use innovative technologies <span class="redFontForFooter">(QR-Code, NFC, IBeacon)</span>
  to improve servicing of your visitors.  </p> </li> </ul>

</div>

    <div class="clear"></div>
     </div>
 