﻿@model e_Restaurant.Models.ContactModel
@using e_Restaurant.Common

@{
    ViewBag.Title = "ContactUs";
}

<style>
    input {
        width: 300px;
    }

    .col-sm-8, .col-sm-4 {
        padding: 5px;
    }

    #Message {
        width: 300px;
    }
</style>
@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))

{
    @Html.ValidationSummary(true)
    <div style="text-align: center; padding: 10px 0px;">
        <img src="@Url.Content("~/Images/NFC logo transparent.png")" width="100px" height="100px" alt="" />
    </div>
    <div>
        <p style="text-align: center;">
            Do you have a question, suggestion or comment?
        </p>
        <p style="text-align: center;">Let us know! You can contact us from 9 AM to 6 PM, Monday thru Friday.</p>
        <p style="text-align: center;">We will be glad to help you!</p>

        <p style="margin-left: 20px;">
            -Are you restaurant owner? Contact us at +33686897077
        </p>
        <p style="margin-left: 20px;">
            -Or fill in the from below:
        </p>

    </div>
    <div style="width: 500px; margin: 0 auto;">

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.EditorFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.EditorFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="form-group">
            @*E-mail*@
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.EditorFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.EditorFor(m => m.Phone)
                @Html.ValidationMessageFor(m => m.Phone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Subject, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.EditorFor(m => m.Subject)
                @Html.ValidationMessageFor(m => m.Subject)
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(m => m.Message, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextAreaFor(model => model.Message)
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <br />
        <div>
            <p style="text-align: center;">
                <input type="submit" value="Submit" class="button" />
            </p>
        </div>
    </div>
    <br />
    <p style="text-align: center;">If you have any question about functionality of E-Restaurant NFC, you can contact us by e-mail: test@delenateagency.com</p>
}
<div style="clear: both;"></div>
