﻿@model e_Restaurant.Models.StartPageModel
@using PagedList.Mvc;
@using e_Restaurant.Common

@{
    ViewBag.Title = COM.GetTranslation("PT_MAIN_PAGE");
}
@section head{
    <meta name="description" content="@COM.GetTranslation("META_DESCRIPTION_MAIN_PAGE")" />
    <meta name="Keywords" content="@COM.GetTranslation("META_KEYWORDS_MAIN_PAGE")" />
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.boxgrid.caption').hover(function () {
            $(".cover", this).stop().animate({ top: '110px' }, { queue: false, duration: 160 });
        }, function () {
            $(".cover", this).stop().animate({ top: '170px' }, { queue: false, duration: 160 });
        });

        $('.articlegrid.caption').hover(function () {
            $(".cover ", this).stop().animate({ top: '0px' }, { queue: true, duration: 160 });
        }, function () {
            $(".cover ", this).stop().animate({ top: '160px' }, { queue: true, duration: 160 });
        });

        $(function () {
            $('[data-toggle="tooltips"]').tooltip();
        });

        $('a.show_details').bind("click", function () { toggle_visibility(this); });

    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function toggle_visibility(linkItem) {
        var id = $(linkItem).attr('data-container');
        var displayState = $('#' + id).css('display');
        if (displayState == 'none') {
            $('#' + id).slideDown();
            showMoreDetails(true, $(linkItem));
        }
        else {
            $('#' + id).slideUp();
            showMoreDetails(false, $(linkItem));
        }
    }

    function showMoreDetails(state, item) {
        if (state == true) {
            $(item).find('span').text('@COM.GetTranslation("LBL_HIDE_DETAILS")');
            $(item).find('img').attr("src", '@Url.Content("~/Images/arrow_up.png")');
        } else {
            $(item).find('span').text('@COM.GetTranslation("LBL_MORE_DETAILS")');
            $(item).find('img').attr("src", '@Url.Content("~/Images/arrow_down.png")');
        }
    }
</script>

<style type="text/css">
    input[type="submit"] {
        padding: 1px;
        width: 100px;
        height: 28px;
    }

    div#main {
        padding: 0 !important;
    }
</style>

@Html.Partial("_SearchForm")

<div id="wrapper_category_page_trial" class="wrapper_category_trial">
    <div class="category_name" id="highratedCategory">
        <b>@COM.GetTranslation("LABEL_HEAD_NFC_REST")</b>
        <img id="nfc_icon_category" src="@Url.Content("~/Images/NFC logo transparent.png")" alt="" style="margin-left: 8px;" />
    </div>
    <div id="articles_category_popular">
        <span style="margin-left: 7px"><b>@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_TWO_LVL")</b> </span>
    </div>
    <div id="restaurantList">
        @foreach (var item in Model.RestaurantList)
        {                          
            @Html.Partial("_RestaurantList", item)        
        }
        @string.Format(COM.GetTranslation("LABEL_PAGE_OF"), (Model.RestaurantList.PageCount < Model.RestaurantList.PageNumber ? 0 : Model.RestaurantList.PageNumber), @Model.RestaurantList.PageCount)
        @Html.PagedListPager(Model.RestaurantList, page => Url.Action("Index", new { page }),
                new PagedListRenderOptions
                {
                    LinkToPreviousPageFormat = String.Format(COM.GetTranslation("LABEL_PREV_BTN")),
                    LinkToNextPageFormat = String.Format(COM.GetTranslation("LABEL_NEXT_BTN")),
                    MaximumPageNumbersToDisplay = 6
                })
    </div>

    <!--right side-->
    <div class="col-md-3">
        @Html.Partial("~/Views/Article/partial/_Top.cshtml", Model.ArticleDet.Take(6))
    </div>
    <div style="clear: both"></div>
</div>
