﻿@model IEnumerable<e_Restaurant.Models.UnitModel>
<div class="listMeals">
    @foreach (var unitItem in Model)
    {
        <div class="menuUnitForMobile" id="@unitItem.ID">
            <div id="namePeriodDescriptionBlock">
                <div class="mealNamePrice">
                    <span class="specialOfferName">@unitItem.Name
                        <span class="translationTitleMenuUnit">@string.Format("({0})", unitItem.NativeName)</span>
                    </span>
                    <div class="priceBlock">
                        @unitItem.Price
                    </div>
                </div>
                <div class="mealDiscription">
                    @unitItem.Description
                    @if (!string.IsNullOrEmpty(unitItem.NativeDescription))
                    {<span class="translationTitleMenuUnit">(@unitItem.NativeDescription)</span>}
                </div>
            </div>
            <div class="menuPicture">
                <img id="menuPicture" src="@Url.Action("Index", "Thumbnail", new { ImagePath = unitItem.Image, width = 100, height = 80 })" alt="@unitItem.Name">
            </div>
        </div>
    }
</div>
