﻿@model e_Restaurant.Models.RestaurantSearchCityModel
@using e_Restaurant.Common
@using PagedList.Mvc;
@{
    ViewBag.Title = string.Format( COM.GetTranslation("PT_CITY_PAGE"), ViewContext.RouteData.Values["city"]);
}
@section head{
    <meta name="description" content="@string.Format( COM.GetTranslation("META_DESCRIPTION_CITY_PAGE"), ViewContext.RouteData.Values["city"])" />    
    <meta name="Keywords" content="@string.Format( COM.GetTranslation("META_KEYWORDS_CITY_PAGE"), ViewContext.RouteData.Values["city"])" />
}

@Html.Partial("_SearchForm")

<style>
    div#main {
        padding: 0 !important;
    }
</style>
<div id="wrapper_category_page_trial" class="wrapper_category_trial">

    <div class="category_name" id="highratedCategory">
        <strong>@COM.GetTranslation("LABEL_HEAD_NFC_REST")</strong> <label id="restaurantincity">&nbsp;in&nbsp; @ViewContext.RouteData.Values["city"]</label>

    </div>
    <div id="articles_category_popular">
        <span style="margin-left: 7px"><b>@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_ONE_LVL")</b> </span>
    </div>

    <div id="restaurantList" >
        @if (Model != null && Model.Result.Any())
        {
            foreach (var modelItem in Model.Result)
            {
                @Html.Partial("~/Views/Home/_RestaurantList.cshtml", modelItem)        
            }
            @Html.PagedListPager(Model.Result, page => Url.Action("City", new { page }),
                new PagedListRenderOptions
                {
                    LinkToPreviousPageFormat = String.Format(COM.GetTranslation("LABEL_PREV_BTN")),
                    LinkToNextPageFormat = String.Format(COM.GetTranslation("LABEL_NEXT_BTN")),
                    MaximumPageNumbersToDisplay = 6
                })
        }
        else
        {
            <span>Restaurants in this city are absent</span>
        }
    </div>
    <div class="col-md-3">
        @Html.Partial("~/Views/Article/partial/_Top.cshtml", Model.ArticlePopular)
    </div>
    <div style="clear: both"></div>
</div>
