﻿@model e_Restaurant.Models.RestaurantDetailsModel
@using e_Restaurant.Common
@using e_Restaurant.Models
@{
    ViewBag.Title = string.Format(COM.GetTranslation("PT_RESTAURANT_PAGE"), Model.Name, Model.City);
}
@section head {
    <meta name="description" content="@string.Format(COM.GetTranslation("META_DESCRIPTION_RESTAURANT_PAGE"), Model.Name, Model.City, Model.Address, Model.Phone)" />
    <meta name="Keywords" content="@string.Format(COM.GetTranslation("META_KEYWORDS_RESTAURANT_PAGE"), Model.Name, Model.City)" />
}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.raty.js")"></script>
<link href="@Url.Content("~/Content/jquery.raty.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">

    var lat = 0;
    lat = @Model.Langtitude;
    var lng = 0;
    lng = @Model.LongTitude;
    var myLatlng = new google.maps.LatLng(lat, lng);

    function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 18,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"@Model.Name"
        });
        marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    
    $.fn.preload = function () {
        this.each(function () {
            $('<img/>')[0].src = this;
        });
    };

    var estimates = ['@COM.GetTranslation("LABEL_RATE_SCORE_ONE")', '@COM.GetTranslation("LABEL_RATE_SCORE_TWO")', '@COM.GetTranslation("LABEL_RATE_SCORE_THREE")', '@COM.GetTranslation("LABEL_RATE_SCORE_FOUR")', '@COM.GetTranslation("LABEL_RATE_SCORE_FIVE")'];
    $(document).ready(function() {
        /* galery */
        $("#gallery li img").click(function () {
            $('#main-img').attr('src', $(this).attr('src').replace('thumb/', ''));
        });
        var imgSwap = [];
        $("#gallery li img").each(function () {
            imgUrl = this.src.replace('thumb/', '');
            imgSwap.push(imgUrl);
        });
        $(imgSwap).preload();

        /* to top*/
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });

        $('#toTop').click(function () {
            $('body,html').animate({ scrollTop: 0 }, 800);
        });
        
        $('li.second').click(function (e) {
            if(!$(this).hasClass("opened"))
            {
                e.preventDefault();
                var clickedLI = $(this);
                var type_id = $(this).attr("id");
                $("div#loadUnitList").height($(this).height());
                $("div#loadUnitList").width($(this).width());
                var position = $(this).offset();
                $("div#loadUnitList").css("top", position.top);
                $("div#loadUnitList").css("left", position.left);
                $("div#loadUnitList").show();            
                $.ajax({
                    url: "GetUnitList/" + type_id,
                    type: 'Get',
                    success: function (data) {
                        $(clickedLI).find('ul#food' + type_id).html(data);
                        $("div#loadUnitList").hide();
                    }
                });
            }
        });    

        /**/
        $("form#rate").data("validator").settings.ignore = ".ignore";
       
        $("#btnMakeVote").click(function () { 
            var isValid = true;
            $("form#rate").find('.rate_category:input[type=hidden]').each(function(){
                if($(this).val().length ===0 || $(this).val()==0)
                    isValid = false;
            });
            if(isValid)
            { 
                $('#rate-error').hide();
                $('#btnSubmitVote').click();
            }
            else{
                $('#rate-error').show();
            }

        });

        /*open type*/           
        $('#accordion > li ul').click(function(event){
            event.stopPropagation();
        }).hide();
        
        $('#accordion > li.maintype, #accordion > li.maintype > ul.subtype > li.second').click(function(){                                    
            $(this).addClass("opened");
            var selfClick = $(this).find('ul:first').is(':visible');
            if(!selfClick) {
                $(this).parent().find('> li ul:visible').slideToggle();
                $(this).parent().find('> li ul:visible').removeClass("opened");
            }
            $(this).find('ul:first').stop(true, true).slideToggle();            
        });
        

        /*show rating button*/
        $('#showVoteWindow').click(function(){
            var isAuth = @User.Identity.IsAuthenticated.ToString().ToLower() ;
            if(isAuth){
                $('#makeVote.bs-example-modal-sm').modal('show'); 
            }else{
                //?ReturnUrl=%2ftest%2fArticles
                var url = '@Url.Action("Logon", "Account")';
                window.location.href = url + '?ReturnUrl=' + window.location.pathname;
            }
        });
        /*rating*/
        $("span.rating").raty(
            {
                path        : '@Url.Content("~/Images/rate/")',
                space        : false,              
                hints        : estimates,
                score        : function() { return $(this).attr('data-score'); },                             
                click        : function(score, evnt) {
                    var hiddenField = $(this).attr('data-category');
                    $('#'+ hiddenField).val(score);
                    $('#'+ hiddenField).removeAttr('aria-required');
                    $('#'+ hiddenField).removeClass('input-validation-error');
                    $('#'+ hiddenField).addClass('valid');
                    $('#'+ hiddenField + '-error').remove();
                }    ,
                noRatedMsg   : ''
            }
        );

        $("span.rate").raty(            
            { 
                path        : '@Url.Content("~/Images/rate/")',
                space       : false,              
                hints       : estimates,
                score       : function() { return $(this).attr('data-score'); },
                halfshow    : true ,
                readOnly    : true ,
                noRatedMsg   : ''
            }
         );
    });

    function vote(restid, categoryid, score, userid)
    {
        var VoteModel = { RestID : restid, RatingCategory : categoryid, Score: score, UserID : userid };
        $.ajax({
            type: 'Post',
            url: '@Url.Action("", "Api/Rating") ',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(VoteModel),
            dataType: "json",
            success: function (data) {
                $('span#RestAverageScore').html(data);
            }
        });
    }
</script>
<style>
    div#main {
        padding: 0 !important;
    }
</style>
<div>
    <img class="restaurantsWallpaper" src="@Url.Content("~/Images/Restaurant/brown.JPG")" alt="">
</div>

@*<div class="navigationMenu">
    <ul id="navmenu-v">
        <li><a href="#">
            <img style="float: none;" src="Images/navmenu.png" width="15px" height="15px" alt=""></a>
            <ul>
                <li style="width: 125px; height: 20px;"><a href="#">RESTAURANTS</a>
                    <ul>
                        <li style="width: 110px; margin: 0 0 0 95px;"><a href="NFC_page.html">NFC RESTAURANTS</a></li>
                        <li style="width: 110px; margin: 0 0 0 95px;"><a href="Best_deals.html">BEST DEALS</a></li>
                        <li style="width: 110px; margin: 0 0 0 95px;"><a href="Highrated_page.html">HIGHRATED</a></li>
                        <li style="width: 110px; margin: 0 0 0 95px;"><a href="Recommended.html">RECOMENDED</a></li>
                        <li style="width: 110px; margin: 0 0 0 95px;"><a href="NEW.html">NEW</a></li>
                    </ul>
                </li>
                <li style="width: 125px; height: 20px; margin-top: 13px;"><a href="#">ARTICLES</a>
                    <ul>
                        <li style="width: 110px; margin: 0 0 0 95px;"><a href="Articles_new_page.html">NEW</a></li>
                        <li style="width: 110px; margin: 0 0 0 95px;"><a href="Articles_Popular_page.html">POPULAR</a></li>
                    </ul>
                </li>

            </ul>
        </li>
    </ul>
</div>*@

<div style="position: absolute; top: 100px; width: 1020px">
    <div id="gallery">
        <img src="@Url.Content("~/" + Model.Logo)" alt="@Model.Name" id="main-img">
        @if (!string.IsNullOrEmpty(Model.AditionalImage))
        {
            <ul class="miniPhotos">
                <li>
                    <img class="restaurantPhotos" src="@Url.Content("~/" + Model.Logo)" alt="@Model.Name"></li>
                <li>
                    <img class="restaurantPhotos" src="@Url.Content("~/" + Model.AditionalImage)" alt="@Model.Name"></li>

            </ul>
        }
    </div>

    <div id="restaurantsName">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <div style="font-size: 16px; font-weight: normal">@Html.DisplayFor(model => model.Title)</div>
        <div style="font-size: 20px;" id="adress">@Html.DisplayFor(model => model.Address)</div>
        <div id="phoneNumber">@Html.DisplayFor(model => model.Phone)</div>

    </div>
    <div style="clear: both"></div>
</div>
@if (string.IsNullOrEmpty(Model.AditionalImage))
{<div style="height: 40px; float: left;"></div> }
else
{<div style="height: 125px; float: left;"></div>}

@if (!string.IsNullOrEmpty(Model.Description))
{<div id="restaurantDiscription">
    <p class="text">
        @Html.DisplayFor(model => model.Description)
    </p>
    <!-- <input type="submit" value="MAKE A RESERVATION" class="button" style="width: 250px; margin-left: 130px">-->
    </div>}

<div style="clear: both"></div>
<div id="navigationMenuRP">
    <ul class="css-menu-1">
        @if (!string.IsNullOrEmpty(Model.WorkingHours) || Model.Payment.Count() > 0)
        {
            <li><a href="#resdetails">@COM.GetTranslation("LABEL_RESTAURANT_DETAILS")</a></li>
        }
@*<li><a href="#specoffers">@COM.GetTranslation("LABEL_PREF_SPECIAL_OFFERS")</a></li>*@
        <li><a href="#RestaurantMenu">@COM.GetTranslation("STR_MENU")</a></li>
        @if (Model.Langtitude != "0" && Model.LongTitude != "0")
        {
            <li><a href="#map">@COM.GetTranslation("LABEL_MAP")</a></li>
        }
        <li><a href="#restaurantRate">@COM.GetTranslation("LABEL_RATING_AND_REVIEWS")</a></li>
    </ul>
</div>

@if (!string.IsNullOrEmpty(Model.WorkingHours) || Model.Payment.Count() > 0)
{
    <div id="restaurantDetails">
        <div class="titleBlock">
            <span><a name="resdetails"></a>@COM.GetTranslation("LABEL_RESTAURANT_DETAILS")</span>
        </div>

        <div class="contentBlock">
            @if (!string.IsNullOrEmpty(Model.WorkingHours))
            {
                <div class="row">
                    <div class="restaurantDetailsTitleOneLine col-md-2">
                        @COM.GetTranslation("LABEL_WORKING_HOURS"):
                    </div>
                    <div class="col-md-10">
                        <p>
                            @Html.DisplayFor(model => model.WorkingHours)
                        </p>
                    </div>
                </div>
            }
            @if (Model.Payment.Count() > 0)
            {
                <div class="row">
                    <div class="restaurantDetailsTitleOneLine col-md-2">
                        @COM.GetTranslation("LABEL_PREF_PAYMENTS"):
                    </div>
                    <div class="col-md-10">
                        <p>
                            @foreach (var item in Model.Payment)
                            {
                                <span>@COM.GetTranslation(@item) &nbsp;</span>


                            }
                        </p>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Email))
            {
                <div class="row">
                    <div class="restaurantDetailsTitleOneLine col-md-2">
                        @COM.GetTranslation("COMMON_EMAIL_ADDRESS"):
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a href="mailto:@Model.Email" >@Model.Email</a>
                        </p>
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.WebSite))
            {
                <div class="row">
                    <div class="restaurantDetailsTitleOneLine col-md-2">
                        @COM.GetTranslation("COMMON_WEBSITE"):
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a href="@Model.WebSite" target="_blank">@Model.WebSite</a>
                        </p>
                    </div>
                </div>
            }

            @if (Model.SocialNetwork.Count > 0)
            {
                <div class="row">
                    <div class="restaurantDetailsTitleOneLine col-md-2">
                        @COM.GetTranslation("STR_SOCIAL_NET")
                    </div>
                    <div class="col-md-10">
                        @foreach (var soc in Model.SocialNetwork)
                        {

                            string img = "";
                            <a href="@soc.Value" target="_blank">
                                @switch (soc.Key)
                                {
                                    case "SOC_NET_FB":
                                        img = "../Images/Social/facebook32.png";
                                        break;
                                    case "SOC_NET_GPLUS":
                                        img = "../Images/Social/googleplus32.png";
                                        break;
                                    case "SOC_NET_TW":
                                        img = "../Images/Social/twitter32.png";
                                        break;
                                    case "SOC_NET_YOUT":
                                        img = "../Images/Social/youtube32.png";
                                        break;
                                }
                                <img src="@img" border="0">
                            </a>
                            
                        }
                    </div>
                </div>
            }

@*
            <div class="row">
                <div class="restaurantDetailsTitleOneLine col-md-2">
                    Dress Code:
                </div>
                <div class="col-md-10">
                    <p>
                        Any
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="restaurantDetailsTitleOneLine col-md-2">
                    @COM.GetTranslation("LBL_START_AVERAGECHECK"):
                </div>
                <div class="col-md-10">
                    <p>
                        15-20 EUR
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="restaurantDetailsTitleOneLine col-md-2">
                    @COM.GetTranslation("LABEL_CUISINE"):
                </div>
                <div class="col-md-10">
                    <p>
                        Mexican
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="restaurantDetailsTitleOneLine col-md-2">
                    Public Transport:
                </div>
                <div class="col-md-10">
                    <p>
                        Nearest Underground Stations: Charing Cross; Embanknet.
                    </p>
                </div>
            </div>*@
        </div>

    </div>
}
@*<div id="specialOffers">
    <div class="titleBlock">
        <span><a name="specoffers"></a>@COM.GetTranslation("LABEL_PREF_SPECIAL_OFFERS")</span>
    </div>
    <div class="contentBlock">
        <table>
            <tbody>
                <tr>
                    <td class="specialOfferName">Special offer 1</td>
                    <td align="justify" class="specialOfferDiscription">Every Taco with 10% discount</td>
                    <td class="specialOfferPeriod">Starts: 30 november 2014 Ends:  31 november 2014</td>
                    <td>
                        <img id="specialOfferPicture" src="Images/Christmas.jpg" alt=""></td>
                </tr>
                <tr>
                    <td class="specialOfferName">Special offer 2</td>
                    <td align="justify" class="specialOfferDiscription">Menu 75€
By booking this set menu, you will be able to order either this set menu if you change your mind.
                    </td>
                    <td class="specialOfferPeriod">Starts: 25 december 2015 Ends:  30 december 2015</td>
                    <td>
                        <img id="specialOfferPicture" src="Images/1231823_11267134.jpg" alt=""></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@

<div id="restaurantsMenu">
    <div class="titleBlock" id="RestaurantMenu">
        <span><a name="menu"></a>@COM.GetTranslation("STR_MENU")</span>
    </div>
    <div id="menuList">
        <ul id="accordion">
            @foreach (TypeModel typeItem in Model.TypeList)
            {
                <li class="maintype">
                    <div id="menuTitleIcon">
                        @if (!string.IsNullOrEmpty(typeItem.Icon))
                        {<img src="@Url.Action("Index", "Thumbnail", new { ImagePath = Url.Content(typeItem.Icon), width = 32, height = 32 })" alt=""/>}
                    </div>
                    <div id="menuTitleNameAndTranslate">@typeItem.Name<div class="translationMenu">@typeItem.NativeName</div>
                    </div>
                    <ul class="subtype">
                        @foreach (var item in typeItem.SubTypeList)
                        {   
                            <li class="second" id="@item.ID">
                                @item.Name
                                <div class="translationMenu">@item.NativeName</div>
                                <ul id="@string.Format("food{0}", item.ID)">
                                </ul>
                            </li>
                        }
                    </ul>
                </li>                        
            }
        </ul>


        @*<div id="menuInMenuBlock">
            <ul id="nav7">
                @foreach (TypeModel typeItem in Model.TypeList)
                {
                    <li>
                        <a id="@typeItem.ID">@typeItem.Name</a>
                        <ul>
                            @foreach (var item in typeItem.SubTypeList)
                            {  
                                <li class="SubType">
                                    <a id="@item.Key" class="SubType">@item.Value</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="contentBlockMenu">
            <table id="unitlist" style="width: 100%">
                @Html.Partial("_Menu", Model.UnitList)
            </table>

        </div>*@
    </div>
    <div id="loadUnitList">
        <img src="@Url.Content("~/Images/loader.gif")" alt="" />
    </div>

</div>

@if (Model.Langtitude != "0" && Model.LongTitude != "0")
{

    <div id="restaurantAtMap">
        <div class="titleBlock">
            <span><a name="map"></a>@COM.GetTranslation("LABEL_MAP_AND_TRANSPORTATION")</span>
        </div>
        <div class="contentBlockMap">
            <div id="map-canvas" style="height: 350px"></div>
            <div class="nearStation">
                @Html.DisplayFor(model => model.AddressAditional)
            </div>
        </div>
    </div>
}
<div id="toTop" style="display: none;">
    <img src="/Images/up.png" width="50" height="50" alt="">
</div>

<div id="restaurantRate">
    <div class="titleBlock">
        <span name="rating">@COM.GetTranslation("LABEL_RATING_AND_REVIEWS")</span>
    </div>
    <div class="contentBlock">
        <div class="row">
            <div class="col-md-5">
                <table style="margin-left: auto;">
                    <tr>
                        <td class="imgcategoryrate">
                            <img  src="@Url.Content("~/Images/rate/food32.png")" alt=""></td>
                        <td class="namecategoryrate">
                            <span class="rateCategory">@COM.GetTranslation("LABEL_RATE_CATEGORY_FOOD")</span></td>
                        <td>
                            <span class="rate" data-score="@Model.Rating.Where(r => r.RatingCategory == (int)RatingCategory.Food).Select(r => r.AverageRate).FirstOrDefault()" />

                        </td>
                    </tr>
                    <tr>
                        <td class="imgcategoryrate">
                            <img src="@Url.Content("~/Images/rate/service32.png")" alt=""></td>
                        <td class="namecategoryrate">
                            <span class="rateCategory">@COM.GetTranslation("LABEL_RATE_CATEGORY_SERVICE")</span></td>
                        <td>
                            <span class="rate" data-score="@Model.Rating.Where(r => r.RatingCategory == (int)RatingCategory.Service).Select(r => r.AverageRate).FirstOrDefault()"/>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-2" style="text-align: center;">
                <span id="RestAverageScore" class="asd" style="font-size: 100px; line-height: 0.8em;">@Model.AverageRating</span>
                <br>
                <span style="line-height: 4em;">(275 @COM.GetTranslation("LABEL_RATE_REVIEWS"))</span>
            </div>

            <div class="col-md-5">
                <table>
                    <tr>
                        <td class="imgcategoryrate">
                            <img src="@Url.Content("~/Images/rate/ambience32.png")" alt=""></td>
                        <td class="namecategoryrate">
                            <span class="rateCategory">@COM.GetTranslation("LABEL_RATE_CATEGORY_AMBIENCE") </span></td>
                        <td>
                            <span class="rate" data-score="@Model.Rating.Where(r => r.RatingCategory == (int)RatingCategory.Ambience).Select(r => r.AverageRate).FirstOrDefault()" />

                        </td>
                    </tr>
                    <tr>
                        <td class="imgcategoryrate">
                            <img  src="@Url.Content("~/Images/rate/price32.png")" alt=""></td>
                        <td class="namecategoryrate">
                            <span class="rateCategory">@COM.GetTranslation("LABEL_RATE_CATEGORY_VALUE")</span></td>
                        <td>
                            <span class="rate" data-score="@Model.Rating.Where(r => r.RatingCategory == (int)RatingCategory.Value).Select(r => r.AverageRate).FirstOrDefault()" />

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="button" class="button" data-toggle="modal" style="width: 90%" id="showVoteWindow">
                    @COM.GetTranslation("BUTTON_RATE_VOTE")</button>
            </div>
        </div>

        <div id="makeVote" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h3>@COM.GetTranslation("HEADER_RATE_SUPPLY_ESTIMATION")</h3>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Index", "Restaurant", FormMethod.Post, new { @class = "form-horizontal", @id = "rate" }))
                        {
                            @Html.HiddenFor(m => m.ID) @Html.HiddenFor(m => m.Reference)
                            <div class="row">
                                <div class="col-md-6">
                                    <table style="margin-left: auto;">
                                        <tr>
                                            <td class="imgcategoryrate">
                                                <img  src="@Url.Content("~/Images/rate/food32.png")" alt=""></td>
                                            <td class="namecategoryrate">
                                                @Html.LabelFor(m => m.RateFood, new { @class = "rateCategory" })</td>
                                            <td>
                                                <span class="rating" data-score="@Model.RateFood" data-category="RateFood"></span>
                                                @Html.HiddenFor(m => m.RateFood, new { @class = "rate_category" }) @Html.ValidationMessageFor(m => m.RateFood)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="imgcategoryrate">
                                                <img src="@Url.Content("~/Images/rate/service32.png")" alt=""></td>
                                            <td class="namecategoryrate">
                                                @Html.LabelFor(m => m.RateService, new { @class = "rateCategory" })</td>
                                            <td>
                                                <span class="rating" data-score="@Model.RateService" data-category="RateService"></span>
                                                @Html.HiddenFor(m => m.RateService, new { @class = "rate_category" }) @Html.ValidationMessageFor(m => m.RateService)
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table>
                                        <tr>
                                            <td class="imgcategoryrate">
                                                <img src="@Url.Content("~/Images/rate/ambience32.png")" alt=""></td>
                                            <td class="namecategoryrate">
                                                @Html.LabelFor(m => m.RateAmbience, new { @class = "rateCategory" })</td>
                                            <td>
                                                <span class="rating" data-score="@Model.RateAmbience" data-category="RateAmbience"></span>
                                                @Html.HiddenFor(m => m.RateAmbience, new { @class = "rate_category" }) @Html.ValidationMessageFor(m => m.RateAmbience)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="imgcategoryrate">
                                                <img  src="@Url.Content("~/Images/rate/price32.png")" alt=""></td>
                                            <td class="namecategoryrate">
                                                @Html.LabelFor(m => m.RateValue, new { @class = "rateCategory" })</td>
                                            <td>
                                                <span class="rating" data-score="@Model.RateValue" data-category="RateValue"></span>
                                                @Html.HiddenFor(m => m.RateValue, new { @class = "rate_category" }) @Html.ValidationMessageFor(m => m.RateValue)
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <br />
                            <div style="text-align: center">

                                <input type="button" id="btnMakeVote" value='@COM.GetTranslation("BTN_SEND")' class="button" />
                                <input type="submit" id="btnSubmitVote" style="display: none" />
                                <br />
                                <span id="rate-error" style="display: none; color: red">@COM.GetTranslation("LABEL_RATE_ESTIMATES_REQUIRED")</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @* <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <textarea rows="2"  style="width:100%"></textarea>
            </div>
        </div>*@

    </div>
</div>
<br />
