﻿@model e_Restaurant.Models.ErrorModel
@if(Model.IsError)
{
    <div class="alert alert-danger">
        @Html.DisplayFor(model=>model.Message)
    </div>
}
else
{
    <div class="alert alert-success">
        @Html.DisplayFor(model=>model.Message)
    </div>
}
