﻿<!DOCTYPE html>
<html>
<head>    
    <title>@ViewBag.Title</title>    
     @RenderSection("Head", required: false)
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    @using e_Restaurant.Common;
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            var footerHeight = $('#footer').outerHeight(true);
            var headerHeight = $('#mainHeader').outerHeight(true);
            var windowHeight = $(window).height();
            $('#main').css('min-height', windowHeight - footerHeight - headerHeight);
        });
    </script>
</head>
<body>
    <div class="page">
        @*<div class="page container">*@
        <div class="navbar navbar-default" id="mainHeader">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Restaurants")">
                    <img src="@Url.Content("~/Images/logo.jpg")" width="200px" /></a>

            </div>
            @Html.Partial("_LogOnPartial")

        </div>
        
        <div style="clear: both"></div>
        <div id="menucontainer">
            <ul id="menu">
            </ul>
        </div>
        <div id="main">
            @RenderBody()
        </div>

        <div id="footer">
            <ul class="fmenu">
                <li><a href="../../About_us_eng.html">@COM.GetTranslation("LABEL_FOOTER_ABOUT_US")</a></li>
                <li><a href="../../Press_eng.html">@COM.GetTranslation("LABEL_FOOTER_PRESS")</a></li>
                @*<li><a href="../../Press_eng.html">@COM.GetTranslation("LABEL_FOOTER_OUR_BLOG")</a></li>*@
                <li><a href="../../How it works_eng.html">@COM.GetTranslation("LABEL_FOOTER_HOW_IT_WORKS")</a></li>
                <li><a href="../../Privacy_policy_eng.html">@COM.GetTranslation("LABEL_FOOTER_PRIVATE_POLICE")</a></li>
                <li>@Html.ActionLink(@COM.GetTranslation("LABEL_FOOTER_TERMS_OF_USE"), "Terms", "Account")></li>
                <li>@Html.ActionLink(@COM.GetTranslation("LABEL_FOOTER_CONTACT_US"), "ContactUs", "Home")></li>
            </ul>
            <br />
            <button style="width: 230px" class="button join">@COM.GetTranslation("LABEL_BUTTON_JOIN_IN_FOOTER")</button>
            <br />
            <br />
            <span style="color: black">@COM.GetTranslation("LABEL_FOOTER_COPIRIGHT")</span>
        </div>
    </div>
</body>
</html>
