﻿@using e_Restaurant.Common

@if (Request.IsAuthenticated)
{   
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" id="userMenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    @COM.GetTranslation("COMMON_WELCOME"), 
                    <span style="color: blue;">@((User.Identity as UserIdentity).FirstName)</span><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        @Html.ActionLink(COM.GetTranslation("LABEL_PROFILE"), "Profile", "Account")</li>
                    <li>
                        @Html.ActionLink(COM.GetTranslation("LABEL_MYPREFERENCES"), "MyPreferences", "Account")</li>
                    <li>@Html.ActionLink(COM.GetTranslation("LABEL_MY_RTICLES"), "Index", "Article")</li>
                    @*<li class="divider" />*@
                    <li style="border-top: 1px solid black;">
                        @Html.ActionLink(COM.GetTranslation("LABEL_LOGOFF"), "LogOff", "Account")</li>
                </ul>
            </li>
            <li class="dropdown" id="languageMenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img src="@Url.Content("~/Images/languages/flag_great_britain.png")" class="flag" /><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <img src="@Url.Content("~/Images/languages/flag_france.png")" class="flag" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/languages/flag_russia.png")" class="flag" /></li>
                    <li>
                        <img src="@Url.Content("~/Images/languages/flag_ukraine.png")" class="flag" /></li>
                </ul>
            </li>
        </ul>
    </div>
}
else
{    
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="notAuthenticated">@Html.ActionLink(COM.GetTranslation("LABEL_SIGNIN"), "Register", "Account")</li>
            <li class="notAuthenticated">
                @Html.ActionLink(COM.GetTranslation("BTN_LOGIN"), "LogOn", "Account", null, new { @style = "color: red" })
            </li>
            <li class="dropdown" id="languageMenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img src="@Url.Content("~/Images/languages/flag_great_britain.png")" class="flag" /><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <img src="@Url.Content("~/Images/languages/flag_france.png")" class="flag" />
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/languages/flag_russia.png")" class="flag" /></li>
                    <li>
                        <img src="@Url.Content("~/Images/languages/flag_ukraine.png")" class="flag" /></li>
                </ul>
            </li>
        </ul>

    </div>
}
