﻿@using e_Restaurant.Common
<div id="wallpaper">
    <br />
    <center>
            @using (Ajax.BeginForm("Index", "Search", null, new AjaxOptions
                                   {
                                       HttpMethod = "GET",
                                       InsertionMode = InsertionMode.Replace,
                                       UpdateTargetId = "wrapper_category_page_trial",
                                       LoadingElementId = "loadingSearch"
                                   })
                   )
            {                
                <input  name="q"  type="text"  class="SearchString" placeholder = "@COM.GetTranslation("LABEL_SEARCH_PLACEHOLDER")" value="@ViewContext.RouteData.Values["searchstring"]" autocomplete="off"/>                
                <input  id="sbutton" type="submit" value="@COM.GetTranslation("LABEL_SEARCH_BUTTON")" />   
            }
</center>
</div>
<div id="loadingSearch">
</div>
<div id="horizontal_category_menu">
    <ul class="category_menu">
        <li>@Html.ActionLink(COM.GetTranslation("LABEL_LEFT_MENU_TOP"), "Index", "Restaurants")
        </li>
        <li><a href="#">@COM.GetTranslation("LABEL_RIGHT_MENU_TOP")</a>
            <ul id="category_menu_articles">
                <li>@Html.ActionLink(@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_ONE_LVL"), "Popular", "Article")</li>
                <li>@Html.ActionLink(@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_TWO_LVL"), "New", "Article")</li>

            </ul>
        </li>
    </ul>
</div>
