﻿@model e_Restaurant.Models.SearchModel
@using e_Restaurant.Common

<div class="category_name" id="highratedCategory">
    @if (Model.TotalCities > 0 || Model.TotalRestaurants > 0 || Model.TotalArticles > 0)
    {
        <b>@COM.GetTranslation("LBL_WEFOUND_RESULTS")</b>
    }
    else
    {
        <b>@COM.GetTranslation("LBL_NO_RESULTS")</b>
    }
</div>
<div id="articles_category_popular">
    <span style="margin-left: 7px"><b>@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_ONE_LVL")</b> </span>
</div>

<div id="restaurantList">
    @if (Model.Cities.Any())
    {     
        <div class="searchheader">
            <span>@COM.GetTranslation("COMMON_CITY")</span>
            <img src="@Url.Content("~/Images/Search_City.png")" />
            <div class="linkallresults">
                @if (Model.TotalCities > 3)
                {@Html.ActionLink(string.Format(COM.GetTranslation("LBL_SHOW_ALL"), Model.TotalCities), "Cities", "Search", new { searchstring = Model.SearchText }, null)}
            </div>
        </div> 
        <table class="searchCities">
            @foreach (var item in Model.Cities)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Country + " " + item.City, "City", "Restaurant", new { city = item.City }, null)
                    </td>
                </tr>
            }
        </table>
    }


    @if (Model.Restaurants.Any())
    {
        <div class="searchheader">
            <span>@COM.GetTranslation("LABEL_LEFT_MENU_TOP")</span>
            <img src="@Url.Content("~/Images/Search_Restaurant.png")" />
            <div class="linkallresults">
                @if (Model.TotalRestaurants > 3)
                {@Html.ActionLink(string.Format(COM.GetTranslation("LBL_SHOW_ALL"), Model.TotalRestaurants), "Restaurants", "Search", new { searchstring = Model.SearchText }, null)}
            </div>
        </div>
                foreach (var item in Model.Restaurants)
                {
        @Html.Partial("~/Views/Home/_RestaurantList.cshtml", item)
                }
    }
    @if (Model.Articles.Any())
    {
        <div class="searchheader">
            <span>@COM.GetTranslation("HEADER_SEARCH_ARTICLES")</span>
            <img src="@Url.Content("~/Images/Search_Articles.png")" />
            <div class="linkallresults">
                @if (Model.TotalArticles > 3)
                {@Html.ActionLink(string.Format(COM.GetTranslation("LBL_SHOW_ALL"), Model.TotalArticles), "Articles", "Search", new { searchstring = Model.SearchText }, null)}
            </div>
        </div>
        
        @Html.Partial("~/Views/Article/partial/_List.cshtml", Model.Articles)
    }
</div>

<div class="col-md-3">
    @Html.Partial("~/Views/Article/partial/_Top.cshtml", Model.ArticlesPopular)
</div>
<div style="clear: both"></div>
