﻿@model e_Restaurant.Models.RestaurantSearchCityModel
@using PagedList.Mvc;
@using e_Restaurant.Common

@Html.Partial("_SearchForm")

<style>
    div#main {
        padding: 0 !important;
    }
</style>

<div id="wrapper_category_page_trial" class="wrapper_category_trial">
    <div class="category_name" id="highratedCategory">
        @if (Model.Result.Any())
        {
            <strong>@COM.GetTranslation("LBL_WEFOUND_RESULTS")</strong>
        }
        else
        {
            <strong>@COM.GetTranslation("LBL_NO_RESULTS")</strong>
        }
    </div>
    <div id="articles_category_popular">
        <span style="margin-left: 7px"><b>@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_ONE_LVL")</b> </span>
    </div>
    
    <div id="restaurantList">
        @if (Model != null && Model.Result.Any())
        {
            foreach (var modelItem in Model.Result)
            {
                @Html.Partial("~/Views/Home/_RestaurantList.cshtml", modelItem)        
            }
            @Html.PagedListPager(Model.Result, page => Url.Action("Restaurants", new { page }),
                new PagedListRenderOptions
                {
                    LinkToPreviousPageFormat = String.Format("< {0}", COM.GetTranslation("LABEL_PREV_BTN")),
                    LinkToNextPageFormat = String.Format("{0} >", COM.GetTranslation("LABEL_NEXT_BTN")),
                    MaximumPageNumbersToDisplay = 6
                })
        }
    </div>
    <div class="col-md-3">
        @Html.Partial("~/Views/Article/partial/_Top.cshtml", Model.ArticlePopular)
    </div>
    <div style="clear: both"></div>
</div>
