﻿@*
Don't forget to reference the JQuery Library here, inside your view or layout.
<script src="@Url.Content("~/Scripts/jquery-x.x.x.min.js")" type="text/javascript"></script>

*@
<script src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")"type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/tinymce/jquery.tinymce.js")" type="text/javascript"></script>

<script type="text/javascript">

    (function () {

        $(function () {

            $('#@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)').tinymce({

                // Location of TinyMCE script
                script_url: '@Url.Content("~/Scripts/tinymce/tiny_mce.js")',
                theme: "advanced",
                //maxLength:10,
                height: "50",
                width: "95%",
                verify_html: false,
                plugins: "pagebreak,style,layer,table,save,advhr,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

                // Theme options
                theme_advanced_buttons1: "bold,italic,underline,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect",
                theme_advanced_buttons2: "",
                theme_advanced_buttons3: "",
                theme_advanced_buttons4: "",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                theme_advanced_statusbar_location: "bottom",
                theme_advanced_resizing: false,

                // Example content CSS (should be your site CSS)
                convert_urls: false,
             
                // Drop lists for link/image/media/template dialogs
                template_external_list_url: "lists/template_list.js",
                external_link_list_url: "lists/link_list.js",
                external_image_list_url: "lists/image_list.js",
                media_external_list_url: "lists/media_list.js",

                setup: function (ed) {
                    ed.onKeyUp.add(function (ed, e) {
                        var strip = (tinyMCE.activeEditor.getContent()).replace(/<[^>]+>/g, "");
                        var withHtmlTag = tinyMCE.activeEditor.getContent();
                        var text = strip.split(' ').length + " Words, " + strip.length + " Characters, " + withHtmlTag.length + " Characters with Html tag "
                        tinymce.DOM.setHTML(tinymce.DOM.get(tinyMCE.activeEditor.id + '_path_row'), text);
                    });
                }
            });

        });

    })();

</script>

@Html.TextArea(string.Empty, /* Name suffix */
    ViewData.TemplateInfo.FormattedModelValue /* Initial value */
)