﻿@model e_Restaurant.Models.ArticleActivate
@using e_Restaurant.Common
@{
    ViewBag.Title = "Deactivate";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@if (Model.Article != null)
{ 
    <div style="margin-left: 15px;">
        @using (Html.BeginForm("Deactivate", "Article"))
        { @Html.ValidationSummary(true)
            @Html.ValidationSummary(true)
            <p style="text-align: center; padding-right: 140px;">
                <input type="submit" value="@COM.GetTranslation("BTN_SEND_IN_A_DRAFT")" class="button" style="width: 220px;" />
            </p>
        }
    </div>
    <div id="newArticles">
        <div id="Article">
            @if (!string.IsNullOrEmpty(Model.Article.Logo))
            {
                <img id="articlesImage" src="@Url.Action("Index", "Thumbnail", new { ImagePath = Url.Content("~" + string.Format(ImageLink.Article.LogoDirectory, Model.Article.ID, Model.Article.Logo)), width = 300, height = 200 })" width="300" height="200" align='left';/>
            }
            else
            { <img id="articlesImage" src="@Url.Content("~/Images/Nofoto.png")" width="300" height="200" align='left';/>}
            <div id="articleTitle"><strong>@Html.DisplayFor(model => model.Article.Title)</strong></div>
            <div id="articleDescription">
                <i>@Html.Raw(Model.Article.ShortText)</i>
            </div>
            <div id="articleText">
                @Html.Raw(Model.Article.FullText)
            </div>
            <br>
            <span>@COM.GetTranslation("LABEL_ARTICLE_TAGS"):</span> <a href="#">@Model.Article.Tag</a>
        </div>
    </div>
    <div style="margin-left: 30px;">
        <p>@Html.ActionLink(@COM.GetTranslation("LABEL_BACK_TO_MY_ARTICLE"), "Index")</p>
    </div>
}
else
{
    <p>
        @COM.GetTranslation("LABEL_ARTICLE_NOT_FOUND")
    </p>
}