﻿@model e_Restaurant.Models.ArticleDetailsModel
@using e_Restaurant.Common
@{
    ViewBag.Title = @COM.GetTranslation("TITLE_DELETE_ARTICLE");
}

<div style="margin-left: 40px;">

    @using (Html.BeginForm())
    {
        <span style="font-size: 24px;">@COM.GetTranslation("LABEL_DELETE_MESSAGE_ARTICLE")?</span>
        <input type="submit" value="@COM.GetTranslation("LABEL_ARTICLE_DELETE_BTN")" class="button" />
        <span>|</span>@*
        @Html.ActionLink(@COM.GetTranslation("LABEL_CANCEL"), "Details", "Article", new { articlename = Model.ID })*@
        <a href="javascript:window.history.back()">@COM.GetTranslation("LABEL_CANCEL")</a>      
    }
</div>
<table>
    <tbody>
        <tr>
            <td valign="top">
                <div id="newArticles">
                    <div id="Article">
                        <img id="articlesImage" src="@Url.Action("Index", "Thumbnail", new { ImagePath = Url.Content(Model.logo), width = 300, height = 200 })" width="300" height="200" align='left';/>
                        <div id="articleTitle" class="title-font-size"><strong>@Html.DisplayFor(model => model.title)</strong></div>
                        <div id="articleDate">@COM.GetTranslation("LABEL_ARTICLE_POSTED") @String.Format("{0:D}", Model.data_created) by @Html.DisplayFor(model => model.UserName)</div>
                        <div id="articleDescription">
                            <i>@Html.Raw(Model.short_text)</i>
                        </div>
                        <div id="articleText">
                            @Html.Raw(@Model.full_text)
                        </div>
                        <br>
                        @if (!string.IsNullOrEmpty(Model.tag))
                        { 
                            <span>@COM.GetTranslation("LABEL_ARTICLE_TAGS"): </span><a href="#">@Model.tag</a>
                        }
                    </div>

                </div>
            </td>
            <td></td>
</table>

