﻿@model e_Restaurant.Models.DetailsModel
@using e_Restaurant.Common
@{
    ViewBag.Title = Model.ArticleDetails.title + " | E-RestaurantNFC";
}
@section head{
    <meta name="description" content="@Model.ArticleDetails.short_text" />
    @if (!string.IsNullOrEmpty(@Model.ArticleDetails.tag))
    {<meta name="Keywords" content="@Model.ArticleDetails.tag" />}
}
<table>
    <tbody>
        <tr>
            <td valign="top">
                @Html.Partial("~/Views/Article/partial/_Details.cshtml", Model.ArticleDetails)
            </td>
            <td valign="top">
                <div id="popularArticles">
                    <div id="articles_category_popular">
                        <span style="margin-left: 7px"><b>@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_ONE_LVL")</b> </span>
                    </div>
                    @Html.Partial("~/Views/Article/partial/_Top.cshtml", Model.ArticleListPopular.Take(4))
                </div>
            </td>
        </tr>
    </tbody>
</table>


