﻿@model e_Restaurant.Models.ArticleModel
@using e_Restaurant.Common
@{

    ViewBag.Title = Model.ID > 0 ? @COM.GetTranslation("LABEL_EDIT_ARTICLE") + " " + Model.Title : @COM.GetTranslation("LABEL_ARTICLE_ADD_NEW");
}
<style type="text/css">
    .editor-field input[type="text"] {
        width: 100%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        // input logo readURL

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewFile').attr('src', '@Url.Content("~/Images/Nofoto.png")');
                    $('#previewFile').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                }
            }
        $("#logo").change(function () {
            $('#previewFile').attr('src', '@Url.Content("~/Images/Nofoto.png")');
            readURL(this);
        });
        // end input logo readURL

        //popup Article Prewiev
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                width: 820,
                modal: true,
                title: '@COM.GetTranslation("LABEL_ARTICLE_PREVIEW")',
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                },
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "fade",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
                input = $('#logo').val();
                $('#previewFile').prop('src')
                if (input == '') {
                    $('#articlesImage').prop('src', $('#previewFile').prop('src').toString());
                }
                $('#articlesImage').prop('src', $('#previewFile').prop('src'));
                $('#articleTitle').text($('#Title').val());
                $('#articleDescription').html($('#ShortText').val());
                $('#articleText').html($('#FullText').val());
                $('a#Tag').text($('#Tag').val());
            });
        });
    });
</script>
@if ((Model.ID > 0 && Model.UserID == COM.UserData.ID) ||
     (Model.ID > 0 && COM.UserData.Role[0] == "Admin") ||
     Model.ID == 0)
{<div style="margin: 20px;">
    @using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { enctype = "multipart/form-data", @id = "EditForm" }))
    {
        @Html.ValidationSummary(true)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.LanCode)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.LanCode, Model.Languages, "----------")
            @Html.ValidationMessageFor(model => model.LanCode)
        </div>

        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Logo)
        </div>
        <div style="width: 200px;">
            @if (!string.IsNullOrEmpty(Model.Logo))
            { 
                <img  id="previewFile" src="@Url.Content("~" + string.Format(ImageLink.Article.LogoDirectory, Model.ID, Model.Logo))" width="200" height="150" alt=""/>
            }
            else
            {
                <img id="previewFile" src="" width="200" height="150" alt="Image preview..." />
            }
        </div>

        <div class="editor-field">
            <input type="file" name="logo" id="logo" accept="image/*" />
            @Html.ValidationMessageFor(model => model.Logo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field ">
            @Html.TextBoxFor(model => model.Title, new { autocomplete = "off", @maxlength = "55" })<br />
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <span id="count"></span>
        <div class="editor-label">
            @Html.LabelFor(model => model.ShortText)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ShortText, new { autocomplete = "off", rows = "3", @style = "width:100%", maxlength = "300" })
            @Html.ValidationMessageFor(model => model.ShortText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullText)
            @Html.ValidationMessageFor(model => model.FullText)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Tag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tag)<br />
            @Html.ValidationMessageFor(model => model.Tag)
        </div>
        @Html.HiddenFor(model => model.ID)
        <br />      
        <div class="row" style="margin: 0px;">
            <div class="col-md-4">
                <input id="opener" type="button" value="@COM.GetTranslation("LABEL_ARTICLE_PREVIEW")" class="button"/>
            </div>
            <div class="col-md-4">
                <p style="text-align: center;">
                    <input type="submit" value="@COM.GetTranslation(Model.ID > 0 ? "LABEL_UPDATE_BTN" : "LABEL_BTN_ADD_ARTICLE")" class="button" name="publish" style="width:200px;"/>
                </p>
            </div>
            <div class="col-md-4">
                <p style="text-align: right;">
                    <input type="submit" value="@COM.GetTranslation("BTN_SAVE_IN_DRAFT")" name="saveDraft" class="button" />
                </p>
            </div>
        </div>
        
        <div>
            <p style="text-align: right;">@Html.ActionLink(@COM.GetTranslation("LABEL_BACK_TO_MY_ARTICLE"), "Index")</p>
        </div>                 
    }
    </div>
}
else
{
    <div style="margin: 10px">
        <strong style="font-size: 20px;">@COM.GetTranslation("LABEL_ACCESS_DENIED")</strong>
    </div>
}

<div id="dialog" title="@COM.GetTranslation("LABEL_ARTICLE_PREVIEW")">
    <div id="newArticles">
        <div id="Article">
            <img id="articlesImage" src="" width="300" height="200" align='left' />
            <div id="articleTitle"><strong>Title</strong></div>
            <div id="articleDate">@COM.GetTranslation("LABEL_ARTICLE_POSTED") @System.DateTime.Now.ToString() </div>
            <div id="articleDescription">
                <i>ShortText</i>
            </div>
            <div id="articleText">
                FullText
            </div>
            <br>
            <span>@COM.GetTranslation("LABEL_ARTICLE_TAGS"):</span><a id="Tag" href="#">Tag</a>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.js")"></script>
