﻿@model e_Restaurant.Models.ArticleEditTranslate
@using e_Restaurant.Common
@{
    ViewBag.Title = @COM.GetTranslation("TITLE_EDIT_TRANSLATION");
}

<style type="text/css">
    .editor-field input[type="text"] {
        width: 95%;
    }
</style>
<div style="margin-left: 15px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Edit translation for article </legend>
            @Html.HiddenFor(model => model.ID)
              @Html.HiddenFor(model => model.LanCode)
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ShortText)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ShortText)
                @Html.ValidationMessageFor(model => model.ShortText)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FullText)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FullText)
                @Html.ValidationMessageFor(model => model.FullText)
            </div>
            <br />
            <p>
                <input type="submit" value="Save" class="button" />
            </p>
        </fieldset>
    }
</div>
<div>
       @if (HttpContext.Current.User.Identity.IsAuthenticated)
        { 
            @Html.ActionLink(@COM.GetTranslation("LABEL_BACK_TO_MY_ARTICLE"), "Index")
        }
   
</div>
