﻿@model IEnumerable<e_Restaurant.Models.ArticleDetailsModel>
@using e_Restaurant.Common

@{
    ViewBag.Title = @COM.GetTranslation("LABEL_ACTIVE_LIST");
}

<style type="text/css">
    div#main {
        padding: 0 !important;
    }

    .ui-tabs .ui-tabs-nav li {
        width: 49.5%;
        background: rgba(20,40,73,1);
        text-align: center;
    }

        .ui-tabs .ui-tabs-nav li.ui-tabs-active {
            position: relative;
        }

            .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
                width: 100%;
            }

        .ui-tabs .ui-tabs-nav li a:hover {
            /*background: rgba(0,0,0,0.5);*/
            background: #992222;
        }

    .ui-widget-content {
        border: none;
        background: none;
        background: rgba(20,40,73,1);
    }

    .ui-widget-header {
        background: rgba(20,40,73,1);
        border: none;
        background: none;
    }

    .ui-widget {
        font: 15px 'Lora', sans-serif;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        background: rgba(20,40,73,1);
        color: white;
        width: 100%;
    }

    .workPanel {
        margin-left: -44px;
    }

    .articleContainer {
        margin-left: 155px;
    }
</style>

@Html.Partial("_SearchForm")
<div id="horizontal_category_menu">
    <ul class="category_menu">
        <li>@Html.ActionLink(COM.GetTranslation("LABEL_LEFT_MENU_TOP"), "Index", "Home")
        </li>
        <li><a href="#">@COM.GetTranslation("LABEL_RIGHT_MENU_TOP")</a>
            <ul id="category_menu_articles">
                <li>@Html.ActionLink(@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_ONE_LVL"), "Popular", "Article")</li>
                <li>@Html.ActionLink(@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_TWO_LVL"), "New", "Article")</li>
            </ul>
        </li>
    </ul>
</div>
<div id="wrapper_category_page_trial" class="wrapper_category_trial" style="padding: 0px 0px 10px 0px;">
    <br />
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    { 
        <p style="margin-left: 15px;">
            @Html.ActionLink(@COM.GetTranslation("LABEL_ARTICLE_ADD_NEW"), "Edit", "Article")
        </p>
    }
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.min.js")"></script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
    <div id="tabs" style="background-color: rgb(233, 234, 236); box-shadow: 0 0 5px rgba(0,0,0,0.5); width: 99%;">
        <ul>
            <li><a href="#tabs-1">@COM.GetTranslation("TAB_LABEL_PUBLISHED")</a></li>
            <li><a href="#tabs-2">@COM.GetTranslation("TAB_LABEL_UNPUBLISHED")</a></li>
        </ul>
        <div id="tabs-1">
            @Html.Partial("~/Views/Article/partial/_List.cshtml", Model.Where(a => a.Active == true))
            <div style="clear: both;"></div>
        </div>
        <div id="tabs-2">
            @Html.Partial("~/Views/Article/partial/_List.cshtml", Model.Where(a => a.Active == false))
            <div style="clear: both"></div>
        </div>

    </div>
</div>
