﻿@model e_Restaurant.Models.NewrPage
@using e_Restaurant.Common
@using PagedList.Mvc;

@{
    ViewBag.Title = @COM.GetTranslation("PT_ARTICLE_PAGE");
}
@section head{
    <meta name="description" content="@COM.GetTranslation("META_DESCRIPTION_ARTICLE_PAGE")" />    
    <meta name="Keywords" content="@COM.GetTranslation("META_KEYWORDS_ARTICLE_PAGE")" />
}

<style type="text/css">
    input[type="submit"] {
        padding: 1px;
        width: 100px;
        height: 28px;
    }

    div#main {
        padding: 0 !important;
    }

    #wallpaper {
        background-image: url('@Url.Content("~/Images/wallpaper1020x420_articles.png")') !important;
    }
</style>

@Html.Partial("_SearchForm")

<div id="wrapper_category_page_trial" class="wrapper_category_trial">
    <div id="articles_category_popular" style="width: 705px; margin: 0px 10px 0px 0px;">
        <span style="margin-left: 7px"><b>@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_TWO_LVL")</b> </span>
    </div>
    <div id="articles_category_popular">
        <span style="margin-left: 7px"><b>@COM.GetTranslation("LABEL_RIGHT_MENU_TOP_ONE_LVL")</b> </span>

    </div>

    <div id="restaurantList">
        @Html.Partial("~/Views/Article/partial/_List.cshtml", Model.New)
        <span>@string.Format(COM.GetTranslation("LABEL_PAGE_OF"), (Model.New.PageCount < Model.New.PageNumber ? 0 : Model.New.PageNumber), @Model.New.PageCount)</span>
        @Html.PagedListPager(Model.New, page => Url.Action("New", new { page }),
                new PagedListRenderOptions
                         {

                             LinkToPreviousPageFormat = String.Format(COM.GetTranslation("LABEL_PREV_BTN")),
                             LinkToNextPageFormat = String.Format(COM.GetTranslation("LABEL_NEXT_BTN")),
                             MaximumPageNumbersToDisplay = 6
                         })
    </div>
    <div class="col-md-3">
        @Html.Partial("~/Views/Article/partial/_Top.cshtml", Model.Popular)
    </div>
    <div style="clear: both"></div>
</div>
