﻿@model e_Restaurant.Models.ArticleTranslateModel
@using e_Restaurant.Common
@{
    ViewBag.Title = "Translate for article";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#CheckAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });
    })
</script>
<table>
    <tbody>
        <tr>
            <td valign="top">
                <div id="newArticles">
                    <div id="Article">
                        @if (!string.IsNullOrEmpty(Model.Article.logo))
                        {
                            <img id="articlesImage" src="@Url.Action("Index", "Thumbnail", new { ImagePath = Url.Content(Model.Article.logo), width = 300, height = 200 })" width="300" height="200" align='left';/>
                        }
                        <div id="articleTitle"><strong>@Html.ActionLink(Model.Article.title, "Details", new { ID = Model.Article.ID })</strong></div>
                        <div id="articleDate">@COM.GetTranslation("LABEL_ARTICLE_POSTED") @String.Format("{0:D}", Model.Article.data_created) by @Html.DisplayFor(model => model.Article.UserName)</div>
                        <div id="articleDescription">
                            <i>@Html.Raw(Model.Article.short_text)</i>
                        </div>
                        <div id="articleText">
                            @Html.Raw(Model.Article.full_text)
                        </div>
                        <br>
                        @if (!string.IsNullOrEmpty(Model.Article.tag))
                        { 
                            <span>@COM.GetTranslation("LABEL_ARTICLE_TAGS"): </span><a href="#">@Model.Article.tag</a>
                        }
                    </div>
                    <div class="backToArticle">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        { 
                            @Html.ActionLink(@COM.GetTranslation("LABEL_BACK_TO_MY_ARTICLE"), "Index")
                        }
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<div style="margin-left: 15px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        var currLan = Convert.ToInt32(Model.Article.LanCode);
        foreach (SelectListItem language in Model.Languages.Where(o => int.Parse(o.Text) != currLan))
        {
        <input type="checkbox" id='@string.Format("lang{0}", @language.Text)' value="@language.Value" name="SelectedLanguages"/>
        <span>@language.Value</span>                
        }
        <span style="font-weight: bold;">
            <input type="checkbox" id="CheckAll" />Check All
        </span>
        <p>
            <input type="submit" value="@COM.GetTranslation("LABEL_BTN_ADD_TRANSLATION")" class="button" />
        </p>      
    }
</div>

