﻿@model e_Restaurant.Models.MyEntertainment
@foreach (var item in Model.Entertainment)
{
    <div class="col-xs-6 col-md-3">
        <label>
            <input 
            @if (@item.Selected)
            { 
                @Html.Raw("checked=\"checked\"");
            } 
            type="checkbox" name="SelectedEntertainment" value="@item.Value" id="@string.Format("Entertainment{0}", item.Value)" />
            <span>@item.Text</span>
        </label>
    </div>
}<div style="clear: both;"></div>