﻿@model e_Restaurant.Models.MyEvent
@foreach (var item in Model.Events)
{
    <div class="col-xs-6 col-md-3">
        <label>
            <input 
            @if (@item.Selected)
            { 
                @Html.Raw("checked=\"checked\"");
            } 
            type="checkbox" name="SelectedEvents" value="@item.Value" id="@string.Format("Events{0}", item.Value)" />
            <span>@item.Text</span>
        </label>
    </div>
}
<div style="clear: both;"></div>
