﻿@model e_Restaurant.Models.MyPayment
@foreach (var item in Model.Payments)
{
    <div class="col-xs-6 col-md-3">
    <label>
        <input 
            @if (@item.Selected)
            { 
                @Html.Raw("checked=\"checked\"");
            } 
            type="checkbox" name="SelectedPayments" value="@item.Value" id="@string.Format("Payment{0}", item.Value)" />
        <span>@item.Text</span>
    </label>
</div>
}
<div style="clear: both;"></div>
