﻿@model  e_Restaurant.Models.MyRestaurantType 
@foreach (var item in Model.RestaurantType)
{        
    <div class="col-xs-6 col-md-3">
        <label>
            <input  
            @if (item.Selected)
            {
                @Html.Raw(" checked=\"checked\" ");
            } 
            type="checkbox" name="SelectedRestaurantType" value="@item.Value" id="@string.Format("RestaurantType{0}", item.Value)" />
            <span>@item.Text</span>
        </label>
    </div>  
}
<div style="clear: both;"></div>