﻿@model e_Restaurant.Models.MyRooms
@foreach (var item in Model.Rooms)
{
    <div class="col-xs-6 col-md-3">
    <label>
        <input 
            @if (@item.Selected)
            { 
                @Html.Raw("checked=\"checked\"");
            } 
            type="checkbox" name="SelectedRooms" value="@item.Value" id="@string.Format("Rooms{0}", item.Value)" />
        <span>@item.Text</span>
    </label>
    </div>
} <div style="clear: both;"></div>